/*------------------------------------*\
    * @file
    * Menu Navigation.
\*------------------------------------*/

.region-header {
    @include container($container-width, 0px);
    @include breakpoint(phablet) {
        width: 100%;
    }
}

#header-bottom{
        background: #f5f9fe;
}

.responsive-menu-toggle-icon:before,
.responsive-menu-toggle-icon:after,
.responsive-menu-toggle-icon span.icon {
    background: #47444b;
    display: block;
    width: 20px;
    height: 2px;
    position: absolute;
    left: 13px;
    border-radius: 7px;
}

.region-header nav ul {
    margin: 0px;
    display: flex;
    justify-content: center;
    @include breakpoint(tablet) {
        justify-content: space-around;
    }
    li {
        display: inline-block;
        margin: 0 20px 0 20px;
        display: flex;
        @include breakpoint (tablet) {
            margin: 0 2px 0 2px;
        }
        a {
            display: flex;
            align-items: center;
            color: $blue;
            text-decoration: none;
            font-size: 18px;
            text-transform: uppercase;
            font-family: $title-font;
            padding: 5px 10px;
            &.is-active {
                border-bottom: 4px solid #ff5252;
                color: $medred;
            }
            &.logopath {
                padding: 0px 0px;
            }
            img {
                position: relative;
                top: 35px;
                z-index: 1;
            }
        }
    }
}

div.responsive-menu-toggle {
    display: none;
}

@include breakpoint(phablet) {
    nav.responsive-menu-block-wrapper {
        display: none;
    }
    div.responsive-menu-toggle {
        display: block;
    }
}

.mobile-menu-responsive {
    position: relative;
    margin: 10px;
    height: 40px;
    background-color: #fff;
    display: flex;
    // justify-content: space-between;
    // align-items: center;
}

@media screen and (max-width:959px) {
    li#logopath {
        display: none;
    }
}

li a {
    @include breakpoint(tablet) {
        color: #1975d2;
    }
}

.logopath1 {
    z-index: 4;
    margin:0 auto;
    .logo-image {
        height: 80px;
    }
}
