/* Makes border-box properties */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*
@media only screen{}
@media only screen and (min-width:768px){}
@media only screen and (min-width:1025px){}
@media only screen{}
@media only screen and (max-width: 568px){}
@media only screen and (min-width:569px){}
@media only screen and (min-width:569px) and (max-width:767px){}
@media only screen and (min-width:768px){}
@media only screen and (min-width:768px) and (max-width:1024px){}
@media only screen and (min-width:1025px){}
@media only screen and (min-width:1025px) and (max-width:1180px){}
@media only screen and (min-width:1181px){}
@media only screen and (min-width:1181px) and (max-width:999999999999){}
*/
@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/proximanova/proximanova-regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/proximanova/proximanova-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proximanova-regular.woff") format("woff"), url("../fonts/proximanova/proximanova-regular.ttf") format("truetype"), url("../fonts/proximanova/proximanova-regular.otf") format("opentype");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proximanova-bold';
  src: url("../fonts/proximanova/proximanova-bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/proximanova/proximanova-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proximanova-bold.woff") format("woff"), url("../fonts/proximanova/proximanova-bold.ttf") format("truetype"), url("../fonts/proximanova/proximanova-bold.otf") format("opentype");
  /* Legacy iOS */
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'proximanova-bolditalic';
  src: url("../fonts/proximanova/proximanova-boldit.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/proximanova/proximanova-boldit.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proximanova-boldit.woff") format("woff"), url("../fonts/proximanova/proximanova-boldit.ttf") format("truetype"), url("../fonts/proximanova/proximanova-boldit.otf") format("opentype");
  /* Legacy iOS */
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'proximanova-italic';
  src: url("../fonts/proximanova/proximanova-regitalic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/proximanova/proximanova-regitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proximanova-regitalic.woff") format("woff"), url("../fonts/proximanova/proximanova-regitalic.ttf") format("truetype"), url("../fonts/proximanova/proximanova-regitalic.otf") format("opentype");
  /* Legacy iOS */
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'proximanova-light';
  src: url("../fonts/proximanova/proximanova-light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/proximanova/proximanova-light.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proximanova-light.woff") format("woff"), url("../fonts/proximanova/proximanova-light.ttf") format("truetype"), url("../fonts/proximanova/proximanova-light.otf") format("opentype");
  /* Legacy iOS */
  font-weight: lighter;
  font-style: normal;
}
.region-featured img {
  width: 100%;
  height: auto;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

a:hover {
  color: #2f2f2f;
}

a.active,
a, a:visited {
  color: #2f2f2f;
  font-weight: bold;
}

li a.active {
  color: #2f2f2f;
}

::-webkit-input-placeholder {
  color: #aaaaaa;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #aaaaaa;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #aaaaaa;
}

:-ms-input-placeholder {
  color: #aaaaaa;
}

div.messages.error {
  color: #996655;
  background-color: #ffe4e0;
}
div.messages.error li {
  color: #996655;
}
div.messages ul {
  padding: 0;
}
div.messages ul li {
  margin: 0;
}
div.messages.warning {
  color: #aa8844;
  background-color: #fff4c0;
}
div.messages.warning li {
  color: #aa8844;
}
div.messages.status {
  color: #668877;
  background-color: #ecf8f4;
}
div.messages.status li {
  color: #668877;
}

.messages {
  margin: 0;
}

body {
  font-family: 'ProximaNova';
  line-height: 1.2;
}

/* --- twitter + fb block --- */
.not-homepage .region-sidebar {
  background: url(../images/hornok.png) no-repeat;
  background-size: 100% 100%;
  padding: 110px 0;
}
.not-homepage .region-sidebar iframe {
  width: 100% !important;
  padding: 5px;
  background: white;
}
.not-homepage .region-sidebar h2 {
  padding: 10px;
  text-transform: uppercase;
  color: white;
}

/* -------------- titles -------------- */
h2 {
  margin-top: 25px;
  font-family: 'proximanova-bold';
  font-size: 22px;
}

/* -------------- buttons -------------- */
.draggable,
tr.drag-previous {
  background-color: #ffd;
}

/* -------------- links -------------- */
.region-content a.active, .region-content a, .region-content a:visited {
  color: red;
  font-family: 'proximanova-bold';
}
.region-content strong {
  font-family: 'proximanova-bold';
}

.proposed-sessions a.active, .proposed-sessions a, .proposed-sessions a:visited {
  color: black;
  font-family: 'proximanova-bold';
  font-size: 30px;
}
.proposed-sessions .speakers a.active, .proposed-sessions .speakers a, .proposed-sessions .speakers a:visited {
  color: red;
  font-family: 'proximanova-bold';
  font-size: 13px;
}

/* -------------- images -------------- */
/* -------------- paragraphs -------------- */
/* -------------- tabs -------------- */
#page-tabs {
  margin: 20px 0 0 0;
}
#page-tabs ul {
  padding: 0 0 1em 0;
  white-space: nowrap;
  list-style: none;
  margin: 5px 0;
  height: auto;
  line-height: normal;
  border-bottom: 1px solid transparent;
}
#page-tabs ul li {
  display: inline;
}
#page-tabs ul li a {
  display: inline;
  background-color: transparent;
  border-color: #0a3a84;
  border: none;
  color: #ffffff;
  padding: 1em 1em 1em 1em;
  border-bottom: 5px solid #bbb;
  text-transform: uppercase;
}
#page-tabs ul li a:hover,
#page-tabs ul li.active a {
  background-color: #fff;
  color: #0a3a84;
  border: none;
  border-bottom: 5px solid #0a3a84;
}

ul.primary {
  padding: 0 0 1em 0;
  white-space: nowrap;
  list-style: none;
  margin: 5px 0;
  height: auto;
  line-height: normal;
  border-bottom: 1px solid transparent;
}
ul.primary li a {
  background-color: transparent;
  border-color: #0a3a84;
  border: none;
  color: #ffffff;
  padding: 1em 1em 1em 1em;
  border-bottom: 5px solid #bbb;
  text-transform: uppercase;
}
ul.primary li a:hover,
ul.primary li.active a {
  background-color: #fff;
  color: #0a3a84;
  border: none;
  border-bottom: 5px solid #0a3a84;
}

.tabs ~ .content-area {
  overflow: hidden;
  padding: 10px;
  border: 1px solid #bbb;
}

div[rel="schema:author"] {
  font-size: 11px;
}

.region-content ul {
  margin-top: 20px;
  list-style-position: inside;
  list-style-type: disc;
}

.form-radios {
  padding-left: 20px;
}

.field-block-content--body a[href="/user/login"] {
  background-color: #90bf34;
  display: block;
  width: 300px;
  padding: 10px 5px;
  margin: 20px auto;
  font-family: 'proximanova-bold';
  font-size: 18px;
  color: #eaeced;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  text-align: center;
}

/* -------------- pager -------------- */
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border: 1px solid #eaeced;
  -moz-border: 1px solid #eaeced;
  border: 1px solid #eaeced;
}

.form-textarea {
  width: 100%;
}

.form-textarea,
.form-item,
.form-type-textfield,
.form-type-email {
  font-family: 'proximanova';
}
.form-textarea label,
.form-item label,
.form-type-textfield label,
.form-type-email label {
  color: #2f2f2f;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  padding-bottom: 10px;
}
.form-textarea input,
.form-item input,
.form-type-textfield input,
.form-type-email input {
  width: 100%;
  padding: 8px 10px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.form-textarea .description,
.form-item .description,
.form-type-textfield .description,
.form-type-email .description {
  display: none;
}

input[type="submit"],
.button {
  background-color: #90bf34;
  display: block;
  width: 300px;
  padding: 10px 5px;
  margin: 20px auto;
  font-family: 'proximanova-bold';
  font-size: 18px;
  color: #eaeced;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}

#edit-actions input[type="submit"] {
  display: inline;
}

.form-item input.form-checkbox,
.form-item input.form-radio {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
  -webkit-border: none;
  -moz-border: none;
  border: none;
  width: auto;
}

.front h1#page-title {
  display: none;
}

.front .tabs {
  display: none;
}

h1#page-title {
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  font-family: 'proximanova-bold';
  color: #ffffff;
  margin: 20px auto 10px;
  width: 80%;
}

.field-node--field-status,
.field-node--field-experience-level,
.field-node--field-speaker-s- {
  *zoom: 1;
}
.field-node--field-status:after,
.field-node--field-experience-level:after,
.field-node--field-speaker-s-:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.field-node--field-status .field-label,
.field-node--field-experience-level .field-label,
.field-node--field-speaker-s- .field-label {
  float: left;
  margin-right: 20px;
  font-family: 'proximanova-bold';
  border: 1px solid;
  padding: 2px;
  width: 30%;
  margin: 2px 4px;
}
.field-node--field-status .field-items,
.field-node--field-experience-level .field-items,
.field-node--field-speaker-s- .field-items {
  width: 67%;
  float: right;
  border: 1px solid;
  padding: 2px;
  margin: 2px 4px;
}

a.tabledrag-handle .handle {
  background: url(../../../misc/icons/787878/move.svg) no-repeat 6px 7px;
  height: 25px;
  margin: 0 3em 0 1em;
  padding: 0.42em 0.5em;
  width: 25px;
}

.filter-guidelines {
  display: none;
}

.fieldset-legend {
  font-size: 22px;
  font-family: 'proximanova-bold';
}

.dropbutton {
  list-style: none !important;
  display: inline-block;
}
.dropbutton .dropbutton-action {
  display: inline-block;
}
.dropbutton .dropbutton-action input[type="submit"] {
  background-color: #90bf34;
  display: block;
  width: 175px;
  padding: 10px 5px;
  margin: 10px auto;
  font-family: 'proximanova-bold';
  font-size: 14px;
  color: #eaeced;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
.dropbutton .dropbutton-toggle {
  display: none;
}

.pager .pager__item {
  display: inline;
  padding: 0.5em;
  border: 1px solid;
  margin: 2px;
}
.pager .pager__item a {
  font-family: 'proximanova-bold';
}

.form-radios {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.form-radios .form-item {
  display: inline-block;
  flex-grow: 0;
  padding-right: 20px;
}

.page > footer,
.page .maincontent-wrapper {
  width: 100%;
  overflow: hidden;
  background-color: #285689;
}

.region-featured p {
  line-height: 0;
}

@media only screen {
  .not-front .maincontent-wrapper {
    padding: 20px 1%;
  }
}
@media only screen and (min-width: 768px) {
  .not-front .maincontent-wrapper {
    padding: 40px 5%;
  }
}
@media only screen and (min-width: 1025px) {
  .not-front .maincontent-wrapper {
    padding: 60px 10%;
  }
}

.center-wrapper {
  display: table;
  width: 100%;
}

.not-front.panel-col-first {
  background: #f3cb02;
}
@media only screen {
  .not-front.panel-col-first {
    width: 100% !important;
    padding: 10px 5px 10px 5px;
  }
}
@media only screen and (min-width: 768px) {
  .not-front.panel-col-first {
    width: 50% !important;
    padding: 15px 8px 15px 8px;
  }
}
@media only screen and (min-width: 1025px) {
  .not-front.panel-col-first {
    width: 65% !important;
    padding: 20px 10px 20px 10px;
  }
}

@media only screen {
  #page-tabs {
    padding: 0 1% 0 1%;
  }
}
@media only screen and (min-width: 768px) {
  #page-tabs {
    padding: 0 8% 0 8%;
  }
}
@media only screen and (min-width: 1025px) {
  #page-tabs {
    padding: 15px 12.5% 0 12.5%;
  }
}

#user-pass,
#user-register-form,
#user-login-form {
  background: #f3cb02;
}
@media only screen {
  #user-pass,
  #user-register-form,
  #user-login-form {
    padding: 20px 1%;
  }
}
@media only screen and (min-width: 768px) {
  #user-pass,
  #user-register-form,
  #user-login-form {
    padding: 40px 8%;
  }
}
@media only screen and (min-width: 1025px) {
  #user-pass,
  #user-register-form,
  #user-login-form {
    padding: 60px 20%;
  }
}

.not-homepage .center-wrapper {
  display: table;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}
@media only screen {
  .not-homepage .center-wrapper {
    padding: 0 1% 0 1%;
  }
}
@media only screen and (min-width: 768px) {
  .not-homepage .center-wrapper {
    padding: 0 8% 0 8%;
  }
}
@media only screen and (min-width: 1025px) {
  .not-homepage .center-wrapper {
    padding: 0 12.5% 0 12.5%;
  }
}

.not-homepage .content-left {
  background: #f3cb02;
  padding: 15px;
  float: left !important;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}
@media only screen {
  .not-homepage .content-left {
    width: 100% !important;
  }
}
@media only screen and (min-width: 768px) {
  .not-homepage .content-left {
    width: 50% !important;
  }
}
@media only screen and (min-width: 1025px) {
  .not-homepage .content-left {
    width: 65% !important;
  }
}

.not-homepage .content-right {
  float: right !important;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}
@media only screen {
  .not-homepage .content-right {
    width: 100% !important;
  }
}
@media only screen and (min-width: 768px) {
  .not-homepage .content-right {
    width: 50% !important;
  }
}
@media only screen and (min-width: 1025px) {
  .not-homepage .content-right {
    width: 35% !important;
  }
}

.region-featured .field-item {
  padding: 0;
}

/* ----------Footer--------- */
.region-footer {
  background: url(../images/truck.png) no-repeat;
  background-size: 100% 100%;
  position: relative;
}
@media only screen {
  .region-footer {
    min-height: 250px;
  }
}
@media only screen and (min-width: 768px) {
  .region-footer {
    min-height: 450px;
  }
}
@media only screen and (min-width: 1025px) {
  .region-footer {
    min-height: 600px;
  }
}

#block-d8dcp-drupalcamppune {
  text-align: right;
  position: absolute;
  width: 100%;
  bottom: 0;
}
#block-d8dcp-drupalcamppune h2 {
  text-transform: uppercase;
  color: white;
}
@media only screen {
  #block-d8dcp-drupalcamppune h2 {
    font-size: 11px;
  }
}
@media only screen and (min-width: 768px) {
  #block-d8dcp-drupalcamppune h2 {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1025px) {
  #block-d8dcp-drupalcamppune h2 {
    font-size: 20px;
  }
}
#block-d8dcp-drupalcamppune p {
  color: white;
}
@media only screen {
  #block-d8dcp-drupalcamppune p {
    font-size: 10px;
  }
}
@media only screen and (min-width: 768px) {
  #block-d8dcp-drupalcamppune p {
    font-size: 13px;
  }
}
@media only screen and (min-width: 1025px) {
  #block-d8dcp-drupalcamppune p {
    font-size: 16px;
  }
}

.region-pagetop {
  *zoom: 1;
}
.region-pagetop:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

@media only screen {
  #block-importantdates,
  #block-d8dcp-announcements {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  #block-importantdates,
  #block-d8dcp-announcements {
    width: 50%;
  }
}
@media only screen and (min-width: 1025px) {
  #block-importantdates,
  #block-d8dcp-announcements {
    width: 50%;
  }
}

#block-d8dcp-announcements {
  background: #285689;
}
@media only screen {
  #block-d8dcp-announcements {
    padding: 20px 1%;
    float: none;
  }
}
@media only screen and (min-width: 768px) {
  #block-d8dcp-announcements {
    padding: 40px 3%;
    float: left;
  }
}
@media only screen and (min-width: 1025px) {
  #block-d8dcp-announcements {
    padding: 60px 5%;
  }
}
#block-d8dcp-announcements h2 {
  color: #f3cb02;
  text-transform: uppercase;
}
@media only screen {
  #block-d8dcp-announcements h2 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1025px) {
  #block-d8dcp-announcements h2 {
    font-size: 40px;
  }
}
#block-d8dcp-announcements p {
  color: #ebebeb;
  line-height: 1.5;
}
#block-d8dcp-announcements a.sims {
  color: #f3cb02;
}

#block-importantdates {
  background: #285689;
}
@media only screen {
  #block-importantdates {
    padding: 20px 1%;
    float: none;
  }
}
@media only screen and (min-width: 768px) {
  #block-importantdates {
    padding: 40px 3%;
    float: right;
  }
}
@media only screen and (min-width: 1025px) {
  #block-importantdates {
    padding: 60px 5%;
  }
}
#block-importantdates h2 {
  color: #f3cb02;
  text-transform: uppercase;
}
@media only screen {
  #block-importantdates h2 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1025px) {
  #block-importantdates h2 {
    font-size: 40px;
  }
}
#block-importantdates ol li {
  color: #f3cb02;
  list-style: url("../images/list-pointer.png") inside;
  line-height: 2;
  vertical-align: top;
  padding-top: 10px;
}

.panel-separator {
  margin: 0 !important;
}

#block-d8dcp-keynotespeaker {
  background: #285689 url(../images/waves.png);
  background-size: 100% 250%;
  background-position: -50%;
  text-align: center;
}
@media only screen {
  #block-d8dcp-keynotespeaker {
    padding: 20px 1%;
  }
}
@media only screen and (min-width: 768px) {
  #block-d8dcp-keynotespeaker {
    padding: 40px 5%;
  }
}
@media only screen and (min-width: 1025px) {
  #block-d8dcp-keynotespeaker {
    padding: 60px 10%;
  }
}
#block-d8dcp-keynotespeaker h2 {
  color: #f3cb02;
  font-size: 40px;
  text-transform: uppercase;
}
#block-d8dcp-keynotespeaker p {
  color: #ebebeb;
  line-height: 1.5;
  margin: 0 auto;
}
@media only screen {
  #block-d8dcp-keynotespeaker p {
    width: 90%;
  }
}
@media only screen and (min-width: 768px) {
  #block-d8dcp-keynotespeaker p {
    width: 80%;
  }
}
@media only screen and (min-width: 1025px) {
  #block-d8dcp-keynotespeaker p {
    width: 69%;
  }
}

.front .content-left {
  float: left;
  width: 49.9%;
}

.front .content-right {
  float: left;
  width: 50%;
}

.dcp-homepage .panel-col-top .inside {
  margin-bottom: 0;
}
.dcp-homepage .center-wrapper {
  background: url(../images/texture.png) no-repeat;
  background-size: 100% 100%;
  display: table;
}
@media only screen {
  .dcp-homepage .center-wrapper {
    padding: 20px 1%;
  }
}
@media only screen and (min-width: 768px) {
  .dcp-homepage .center-wrapper {
    padding: 40px 5%;
  }
}
@media only screen and (min-width: 1025px) {
  .dcp-homepage .center-wrapper {
    padding: 60px 10%;
  }
}
.dcp-homepage .content-left {
  text-align: center;
}
@media only screen {
  .dcp-homepage .content-left {
    width: 100%;
    padding: 10px 2%;
  }
}
@media only screen and (min-width: 768px) {
  .dcp-homepage .content-left {
    width: 50%;
    padding: 10px 5%;
  }
}
@media only screen and (min-width: 1025px) {
  .dcp-homepage .content-left {
    width: 65%;
    padding: 20px 10%;
  }
}
.dcp-homepage .content-left h2 {
  font-family: 'proximanova-bold';
  color: #fb6704;
  text-transform: uppercase;
  background: url(../images/heading-bg.png) no-repeat;
  background-size: 100%;
  padding: 0px 85px;
}
@media only screen {
  .dcp-homepage .content-left h2 {
    font-size: 15px;
  }
}
@media only screen and (min-width: 768px) {
  .dcp-homepage .content-left h2 {
    font-size: 25px;
  }
}
.dcp-homepage .content-left p {
  color: #285689;
  line-height: 1.5;
}
@media only screen {
  .dcp-homepage .content-left p {
    font-size: 12px;
  }
}
@media only screen and (min-width: 768px) {
  .dcp-homepage .content-left p {
    font-size: 16px;
  }
}
.dcp-homepage .content-left a {
  color: #fb6704;
  border: 4px solid #fb6704;
  display: inline-block;
  text-align: center;
}
@media only screen {
  .dcp-homepage .content-left a {
    font-size: 15px;
    margin: 10px 10px 40px 0;
    padding: 10px 20px;
  }
}
@media only screen and (min-width: 768px) {
  .dcp-homepage .content-left a {
    font-size: 25px;
    margin: 10px 10px 40px 0;
    padding: 15px 30px;
  }
}
.dcp-homepage .content-left .contextual-links-wrapper a {
  color: #fb6704;
  padding: 10px;
  font-size: 14px;
  border: none;
  display: inline-block;
  text-align: right;
  margin: 0;
}
.dcp-homepage .content-right {
  background: url(../images/hornok.png) no-repeat;
  background-size: 100% 100%;
  padding: 80px 0;
}
@media only screen {
  .dcp-homepage .content-right {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .dcp-homepage .content-right {
    width: 50%;
  }
}
@media only screen and (min-width: 1025px) {
  .dcp-homepage .content-right {
    width: 35%;
  }
}
.dcp-homepage .content-right .inside {
  margin: 0;
}
.dcp-homepage .content-right iframe {
  width: 100% !important;
  padding: 5px;
  background: white;
}
.dcp-homepage .content-right h2 {
  padding: 10px;
  text-transform: uppercase;
  color: white;
}

.front #block-d8dcp-content {
  display: none;
}

@media only screen and (min-width: 1025px) {
  #block-d8dcp-becomeasponsor {
    padding: 0 30px;
  }
  #block-d8dcp-becomeasponsor p {
    padding: 20px 10px;
  }
}

.page-pagebottom {
  background-color: #04c5f5;
}
.page-pagebottom .region-inner {
  width: 100%;
}
@media only screen {
  .page-pagebottom .region-inner {
    height: 140px;
  }
}
@media only screen and (min-width: 768px) {
  .page-pagebottom .region-inner {
    height: 300px;
  }
}
@media only screen and (min-width: 1025px) {
  .page-pagebottom .region-inner {
    height: 500px;
  }
}
.page-pagebottom #block-views-block-sponsors-block-1 {
  *zoom: 1;
}
.page-pagebottom #block-views-block-sponsors-block-1:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.page-pagebottom #block-views-block-sponsors-block-1 .sponsors .views-row {
  text-align: center;
  padding: 2px;
  margin: 5px 1%;
  height: 200px;
  overflow: hidden;
  background-color: #fff;
}
@media only screen {
  .page-pagebottom #block-views-block-sponsors-block-1 .sponsors .views-row {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .page-pagebottom #block-views-block-sponsors-block-1 .sponsors .views-row {
    width: 32%;
    float: left;
  }
}
@media only screen and (min-width: 1025px) {
  .page-pagebottom #block-views-block-sponsors-block-1 .sponsors .views-row {
    width: 32%;
  }
}

/* ----------Header--------- */
header {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
header:after {
  content: " ";
  display: block;
  clear: both;
}
@media only screen {
  header {
    background: #285689;
  }
}
@media only screen and (min-width: 768px) {
  header {
    background: #285689 url(../images/header-tpbg.png) repeat;
  }
}

.region-header {
  margin: 0 auto;
  padding-bottom: 10px;
}
@media only screen {
  .region-header {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .region-header {
    width: 98%;
  }
}
@media only screen and (min-width: 1025px) {
  .region-header {
    width: 92%;
  }
}

@media only screen {
  #block-d8dcp-main-menu {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  #block-d8dcp-main-menu {
    float: left;
    width: 70%;
  }
}

@media only screen {
  #block-d8dcp-userloginmenu,
  #block-d8dcp-account-menu {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  #block-d8dcp-userloginmenu,
  #block-d8dcp-account-menu {
    float: right;
    width: 20%;
    text-align: right;
  }
}

#block-d8dcp-main-menu ul.menu-top li {
  display: inline-block;
  border: none;
  float: none;
  background-color: transparent;
  position: relative;
  padding-bottom: 8px;
}
@media only screen {
  #block-d8dcp-main-menu ul.menu-top li {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  #block-d8dcp-main-menu ul.menu-top li {
    width: auto;
  }
}
#block-d8dcp-main-menu ul.menu-top li:hover {
  background: none;
}
#block-d8dcp-main-menu ul.menu-top li > a {
  color: #f3cb02;
  line-height: 1;
  text-transform: uppercase;
  display: inline-block;
}
@media only screen {
  #block-d8dcp-main-menu ul.menu-top li > a {
    padding: 5px;
    font-size: 18px;
    width: 100%;
  }
  #block-d8dcp-main-menu ul.menu-top li > a.is-active, #block-d8dcp-main-menu ul.menu-top li > a:hover {
    color: white;
  }
}
@media only screen and (min-width: 768px) {
  #block-d8dcp-main-menu ul.menu-top li > a {
    width: auto;
    padding: 5px 8px;
    font-size: 14px;
  }
}
@media only screen and (min-width: 1025px) {
  #block-d8dcp-main-menu ul.menu-top li > a {
    padding: 20px 30px 0 30px;
    font-size: 18px;
  }
  #block-d8dcp-main-menu ul.menu-top li > a.is-active, #block-d8dcp-main-menu ul.menu-top li > a:hover {
    color: white;
    background: url(../images/pointer.png) top no-repeat;
  }
}
#block-d8dcp-main-menu ul.menu-top li ul.menu {
  display: none;
  background: #285689;
  padding-bottom: 10px;
}
@media only screen and (min-width: 768px) {
  #block-d8dcp-main-menu ul.menu-top li ul.menu {
    width: 200px;
    position: absolute;
    top: 30px;
    right: -45px;
    z-index: 100;
  }
}
@media only screen and (min-width: 1025px) {
  #block-d8dcp-main-menu ul.menu-top li ul.menu {
    width: 250px;
    position: absolute;
    top: 50px;
    right: -65px;
    z-index: 100;
  }
}
#block-d8dcp-main-menu ul.menu-top li ul.menu li {
  width: 100%;
  text-align: center;
}
#block-d8dcp-main-menu ul.menu-top li ul.menu a {
  color: #f3cb02;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  padding: 20px 30px 0 30px;
  display: inline-block;
}
#block-d8dcp-main-menu ul.menu-top li ul.menu a.is-active, #block-d8dcp-main-menu ul.menu-top li ul.menu a:hover {
  color: white;
  background: none;
}
@media only screen {
  #block-d8dcp-main-menu ul.menu-top li ul.menu a {
    padding: 5px;
    font-size: 18px;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  #block-d8dcp-main-menu ul.menu-top li ul.menu a {
    width: auto;
    padding: 5px 8px;
    font-size: 14px;
  }
}
@media only screen and (min-width: 1025px) {
  #block-d8dcp-main-menu ul.menu-top li ul.menu a {
    padding: 20px 30px 0 30px;
    font-size: 18px;
  }
}
#block-d8dcp-main-menu ul.menu-top li.menu-item--expanded:hover ul.menu {
  display: block;
}

#block-d8dcp-userloginmenu ul.menu-top li,
#block-d8dcp-account-menu ul.menu-top li {
  display: inline-block;
  border: none;
  float: none;
  background-color: transparent;
  position: relative;
  padding-bottom: 8px;
}
@media only screen {
  #block-d8dcp-userloginmenu ul.menu-top li,
  #block-d8dcp-account-menu ul.menu-top li {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  #block-d8dcp-userloginmenu ul.menu-top li,
  #block-d8dcp-account-menu ul.menu-top li {
    width: auto;
  }
}
#block-d8dcp-userloginmenu ul.menu-top li:hover,
#block-d8dcp-account-menu ul.menu-top li:hover {
  background: none;
}
#block-d8dcp-userloginmenu ul.menu-top li > a,
#block-d8dcp-account-menu ul.menu-top li > a {
  color: #ffffff;
  line-height: 1;
  text-transform: uppercase;
  display: inline-block;
}
@media only screen {
  #block-d8dcp-userloginmenu ul.menu-top li > a,
  #block-d8dcp-account-menu ul.menu-top li > a {
    padding: 5px;
    font-size: 18px;
    width: 100%;
  }
  #block-d8dcp-userloginmenu ul.menu-top li > a.is-active, #block-d8dcp-userloginmenu ul.menu-top li > a:hover,
  #block-d8dcp-account-menu ul.menu-top li > a.is-active,
  #block-d8dcp-account-menu ul.menu-top li > a:hover {
    color: white;
  }
}
@media only screen and (min-width: 768px) {
  #block-d8dcp-userloginmenu ul.menu-top li > a,
  #block-d8dcp-account-menu ul.menu-top li > a {
    width: auto;
    padding: 5px 2px;
    font-size: 11px;
  }
}
@media only screen and (min-width: 1025px) {
  #block-d8dcp-userloginmenu ul.menu-top li > a,
  #block-d8dcp-account-menu ul.menu-top li > a {
    padding: 20px 8px 0 8px;
    font-size: 13px;
  }
}

.field-node--field-logo .field-items {
  background: #fff;
}
.field-node--field-logo .field-items img {
  width: 100%;
  height: auto;
}

.sponsors .views-row {
  text-align: center;
  padding: 2px;
  margin: 5px 1%;
  height: 200px;
  overflow: hidden;
  background-color: #fff;
}
@media only screen {
  .sponsors .views-row {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .sponsors .views-row {
    width: 48%;
    float: left;
  }
}
@media only screen and (min-width: 1025px) {
  .sponsors .views-row {
    width: 48%;
  }
}
.sponsors .views-row .field-content,
.sponsors .views-row .views-field-field-logo {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.sponsors .views-row a {
  display: block;
  width: 100%;
  height: 100%;
}

.proposed-sessions {
  *zoom: 1;
  padding-bottom: 20px;
}
.proposed-sessions:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.proposed-sessions .form-item-field-experience-level-value {
  float: left;
}
.proposed-sessions #edit-actions {
  float: right;
}
.proposed-sessions .views-exposed-form {
  display: table;
  width: 100%;
}
.proposed-sessions .views-exposed-form .form-item-field-experience-level-value {
  padding: 2px;
  margin: 5px 1%;
}
@media only screen {
  .proposed-sessions .views-exposed-form .form-item-field-experience-level-value {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .proposed-sessions .views-exposed-form .form-item-field-experience-level-value {
    width: 48%;
    float: left;
  }
}
@media only screen and (min-width: 1025px) {
  .proposed-sessions .views-exposed-form .form-item-field-experience-level-value {
    width: 48%;
  }
}
.proposed-sessions .views-exposed-form #edit-actions {
  padding: 2px;
  margin: 5px 1%;
}
@media only screen {
  .proposed-sessions .views-exposed-form #edit-actions {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .proposed-sessions .views-exposed-form #edit-actions {
    width: 48%;
  }
}
@media only screen and (min-width: 1025px) {
  .proposed-sessions .views-exposed-form #edit-actions {
    width: 48%;
  }
}
.proposed-sessions .views-exposed-form #edit-actions input[type="submit"] {
  background-color: #90bf34;
  display: block;
  width: 200px;
  padding: 5px;
  margin: 0 auto;
  font-family: 'proximanova-bold';
  font-size: 14px;
  color: #eaeced;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
@media only screen and (min-width: 768px) {
  .proposed-sessions .views-exposed-form #edit-actions input[type="submit"] {
    margin: 0;
  }
}
.proposed-sessions .views-row {
  margin-top: 50px;
}
.proposed-sessions .views-row .views-field-title {
  font-size: 22px;
  font-family: 'proximanova-bold';
}
.proposed-sessions .views-row .views-field-field-speaker-s- {
  *zoom: 1;
  font-size: 12px;
}
.proposed-sessions .views-row .views-field-field-speaker-s-:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.proposed-sessions .views-row .views-field-field-speaker-s- .views-label-field-speaker-s- {
  float: left;
}
.proposed-sessions .views-row .views-field-body {
  font-size: 14px;
  margin-top: 10px;
}
.proposed-sessions .views-row .views-field-body p {
  line-height: 1.3;
}
.proposed-sessions .views-row .views-field-body ul {
  padding-left: 20px;
}
.proposed-sessions .views-row .views-field-body ul li {
  line-height: 1.3em;
}

.field-item {
  padding: 0 3px;
}

.speakers article {
  display: inline-flex;
}
