/* Makes border-box properties */
/* line 21, ../../../../../../../../Users/saket/.rvm/gems/ruby-1.9.3-p547/gems/susy-2.2.2/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*
@media only screen{}
@media only screen and (min-width:768px){}
@media only screen and (min-width:1025px){}
@media only screen{}
@media only screen and (max-width: 568px){}
@media only screen and (min-width:569px){}
@media only screen and (min-width:569px) and (max-width:767px){}
@media only screen and (min-width:768px){}
@media only screen and (min-width:768px) and (max-width:1024px){}
@media only screen and (min-width:1025px){}
@media only screen and (min-width:1025px) and (max-width:1180px){}
@media only screen and (min-width:1181px){}
@media only screen and (min-width:1181px) and (max-width:999999999999){}
*/
@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/proximanova/proximanova-regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/proximanova/proximanova-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proximanova-regular.woff") format("woff"), url("../fonts/proximanova/proximanova-regular.ttf") format("truetype"), url("../fonts/proximanova/proximanova-regular.otf") format("opentype");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proximanova-bold';
  src: url("../fonts/proximanova/proximanova-bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/proximanova/proximanova-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proximanova-bold.woff") format("woff"), url("../fonts/proximanova/proximanova-bold.ttf") format("truetype"), url("../fonts/proximanova/proximanova-bold.otf") format("opentype");
  /* Legacy iOS */
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'proximanova-bolditalic';
  src: url("../fonts/proximanova/proximanova-boldit.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/proximanova/proximanova-boldit.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proximanova-boldit.woff") format("woff"), url("../fonts/proximanova/proximanova-boldit.ttf") format("truetype"), url("../fonts/proximanova/proximanova-boldit.otf") format("opentype");
  /* Legacy iOS */
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'proximanova-italic';
  src: url("../fonts/proximanova/proximanova-regitalic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/proximanova/proximanova-regitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proximanova-regitalic.woff") format("woff"), url("../fonts/proximanova/proximanova-regitalic.ttf") format("truetype"), url("../fonts/proximanova/proximanova-regitalic.otf") format("opentype");
  /* Legacy iOS */
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'proximanova-light';
  src: url("../fonts/proximanova/proximanova-light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/proximanova/proximanova-light.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proximanova-light.woff") format("woff"), url("../fonts/proximanova/proximanova-light.ttf") format("truetype"), url("../fonts/proximanova/proximanova-light.otf") format("opentype");
  /* Legacy iOS */
  font-weight: lighter;
  font-style: normal; }
/* line 88, ../sass/variables/_utils.scss */
.region-featured img {
  width: 100%;
  height: auto; }

/* line 2, ../sass/reset/_normalize.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../sass/reset/_normalize.scss */
html {
  line-height: 1; }

/* line 26, ../sass/reset/_normalize.scss */
ol, ul {
  list-style: none; }

/* line 30, ../sass/reset/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 35, ../sass/reset/_normalize.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 41, ../sass/reset/_normalize.scss */
q, blockquote {
  quotes: none; }

/* line 44, ../sass/reset/_normalize.scss */
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none; }

/* line 52, ../sass/reset/_normalize.scss */
a img {
  border: none; }

/* line 56, ../sass/reset/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 60, ../sass/reset/_normalize.scss */
p {
  line-height: 1.5; }

/* line 66, ../sass/reset/_normalize.scss */
a {
  text-decoration: none; }

/* line 69, ../sass/reset/_normalize.scss */
a:hover {
  color: #2f2f2f; }

/* line 72, ../sass/reset/_normalize.scss */
a.active,
a, a:visited {
  color: #2f2f2f;
  font-weight: bold; }

/* line 77, ../sass/reset/_normalize.scss */
li a.active {
  color: #2f2f2f; }

/* line 81, ../sass/reset/_normalize.scss */
::-webkit-input-placeholder {
  color: #aaaaaa; }

/* line 85, ../sass/reset/_normalize.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: #aaaaaa; }

/* line 89, ../sass/reset/_normalize.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #aaaaaa; }

/* line 93, ../sass/reset/_normalize.scss */
:-ms-input-placeholder {
  color: #aaaaaa; }

/* line 97, ../sass/reset/_normalize.scss */
div.messages.error {
  color: #996655;
  background-color: #ffe4e0; }
  /* line 100, ../sass/reset/_normalize.scss */
  div.messages.error li {
    color: #996655; }
/* line 104, ../sass/reset/_normalize.scss */
div.messages ul {
  padding: 0; }
  /* line 106, ../sass/reset/_normalize.scss */
  div.messages ul li {
    margin: 0; }
/* line 110, ../sass/reset/_normalize.scss */
div.messages.warning {
  color: #aa8844;
  background-color: #fff4c0; }
  /* line 113, ../sass/reset/_normalize.scss */
  div.messages.warning li {
    color: #aa8844; }
/* line 117, ../sass/reset/_normalize.scss */
div.messages.status {
  color: #668877;
  background-color: #ecf8f4; }
  /* line 120, ../sass/reset/_normalize.scss */
  div.messages.status li {
    color: #668877; }

/* line 125, ../sass/reset/_normalize.scss */
.messages {
  margin: 0; }

/* line 129, ../sass/reset/_normalize.scss */
body {
  font-family: 'ProximaNova';
  line-height: 1.2; }

/* --- twitter + fb block --- */
/* line 3, ../sass/base/_blocks.scss */
.not-homepage .region-sidebar {
  background: url(../images/hornok.png) no-repeat;
  background-size: 100% 100%;
  padding: 110px 0; }
  /* line 7, ../sass/base/_blocks.scss */
  .not-homepage .region-sidebar iframe {
    width: 100% !important;
    padding: 5px;
    background: white; }
  /* line 12, ../sass/base/_blocks.scss */
  .not-homepage .region-sidebar h2 {
    padding: 10px;
    text-transform: uppercase;
    color: white; }

/* -------------- titles -------------- */
/* line 2, ../sass/base/_elements.scss */
h2 {
  margin-top: 25px;
  font-family: 'proximanova-bold';
  font-size: 22px; }

/* -------------- buttons -------------- */
/* line 10, ../sass/base/_elements.scss */
.draggable,
tr.drag-previous {
  background-color: #ffd; }

/* -------------- links -------------- */
/* line 17, ../sass/base/_elements.scss */
.region-content a.active, .region-content a, .region-content a:visited {
  color: red;
  font-family: 'proximanova-bold'; }
/* line 21, ../sass/base/_elements.scss */
.region-content strong {
  font-family: 'proximanova-bold'; }

/* line 27, ../sass/base/_elements.scss */
.proposed-sessions a.active, .proposed-sessions a, .proposed-sessions a:visited {
  color: black;
  font-family: 'proximanova-bold';
  font-size: 30px; }
/* line 33, ../sass/base/_elements.scss */
.proposed-sessions .speakers a.active, .proposed-sessions .speakers a, .proposed-sessions .speakers a:visited {
  color: red;
  font-family: 'proximanova-bold';
  font-size: 13px; }

/* -------------- images -------------- */
/* -------------- paragraphs -------------- */
/* -------------- tabs -------------- */
/* line 46, ../sass/base/_elements.scss */
#page-tabs {
  margin: 20px 0 0 0; }
  /* line 48, ../sass/base/_elements.scss */
  #page-tabs ul {
    padding: 0 0 1em 0;
    white-space: nowrap;
    list-style: none;
    margin: 5px 0;
    height: auto;
    line-height: normal;
    border-bottom: 1px solid transparent; }
    /* line 56, ../sass/base/_elements.scss */
    #page-tabs ul li {
      display: inline; }
    /* line 59, ../sass/base/_elements.scss */
    #page-tabs ul li a {
      display: inline;
      background-color: transparent;
      border-color: #0a3a84;
      border: none;
      color: #ffffff;
      padding: 1em 1em 1em 1em;
      border-bottom: 5px solid #bbb;
      text-transform: uppercase; }
    /* line 70, ../sass/base/_elements.scss */
    #page-tabs ul li a:hover,
    #page-tabs ul li.active a {
      background-color: #fff;
      color: #0a3a84;
      border: none;
      border-bottom: 5px solid #0a3a84; }

/* line 80, ../sass/base/_elements.scss */
ul.primary {
  padding: 0 0 1em 0;
  white-space: nowrap;
  list-style: none;
  margin: 5px 0;
  height: auto;
  line-height: normal;
  border-bottom: 1px solid transparent; }
  /* line 89, ../sass/base/_elements.scss */
  ul.primary li a {
    background-color: transparent;
    border-color: #0a3a84;
    border: none;
    color: #ffffff;
    padding: 1em 1em 1em 1em;
    border-bottom: 5px solid #bbb;
    text-transform: uppercase; }
  /* line 99, ../sass/base/_elements.scss */
  ul.primary li a:hover,
  ul.primary li.active a {
    background-color: #fff;
    color: #0a3a84;
    border: none;
    border-bottom: 5px solid #0a3a84; }

/* line 108, ../sass/base/_elements.scss */
.tabs ~ .content-area {
  overflow: hidden;
  padding: 10px;
  border: 1px solid #bbb; }

/* line 114, ../sass/base/_elements.scss */
div[rel="schema:author"] {
  font-size: 11px; }

/* line 119, ../sass/base/_elements.scss */
.region-content ul {
  margin-top: 20px;
  list-style-position: inside;
  list-style-type: disc; }

/* line 126, ../sass/base/_elements.scss */
.form-radios {
  padding-left: 20px; }

/* line 131, ../sass/base/_elements.scss */
.field-block-content--body a[href="/user/login"] {
  background-color: #90bf34;
  display: block;
  width: 300px;
  padding: 10px 5px;
  margin: 20px auto;
  font-family: 'proximanova-bold';
  font-size: 18px;
  color: #eaeced;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  text-align: center; }

/* -------------- pager -------------- */
/* line 147, ../sass/base/_elements.scss */
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border: 1px solid #eaeced;
  -moz-border: 1px solid #eaeced;
  border: 1px solid #eaeced; }

/* line 156, ../sass/base/_elements.scss */
.form-textarea {
  width: 100%; }

/* line 160, ../sass/base/_elements.scss */
.form-textarea,
.form-item,
.form-type-textfield,
.form-type-email {
  font-family: 'proximanova'; }
  /* line 165, ../sass/base/_elements.scss */
  .form-textarea label,
  .form-item label,
  .form-type-textfield label,
  .form-type-email label {
    color: #2f2f2f;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding-bottom: 10px; }
  /* line 172, ../sass/base/_elements.scss */
  .form-textarea input,
  .form-item input,
  .form-type-textfield input,
  .form-type-email input {
    width: 100%;
    padding: 8px 10px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
  /* line 177, ../sass/base/_elements.scss */
  .form-textarea .description,
  .form-item .description,
  .form-type-textfield .description,
  .form-type-email .description {
    display: none; }

/* line 182, ../sass/base/_elements.scss */
input[type="submit"],
.button {
  background-color: #90bf34;
  display: block;
  width: 300px;
  padding: 10px 5px;
  margin: 20px auto;
  font-family: 'proximanova-bold';
  font-size: 18px;
  color: #eaeced;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px; }

/* line 196, ../sass/base/_elements.scss */
#edit-actions input[type="submit"] {
  display: inline; }

/* line 201, ../sass/base/_elements.scss */
.form-item input.form-checkbox,
.form-item input.form-radio {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
  -webkit-border: none;
  -moz-border: none;
  border: none;
  width: auto; }

/* line 212, ../sass/base/_elements.scss */
.front h1#page-title {
  display: none; }

/* line 216, ../sass/base/_elements.scss */
.front .tabs {
  display: none; }

/* line 220, ../sass/base/_elements.scss */
h1#page-title {
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  font-family: 'proximanova-bold';
  color: #ffffff;
  margin: 20px auto 10px;
  width: 80%; }

/* line 230, ../sass/base/_elements.scss */
.field-node--field-status,
.field-node--field-experience-level,
.field-node--field-speaker-s- {
  *zoom: 1; }
  /* line 41, ../sass/variables/_utils.scss */
  .field-node--field-status:after,
  .field-node--field-experience-level:after,
  .field-node--field-speaker-s-:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden; }
  /* line 234, ../sass/base/_elements.scss */
  .field-node--field-status .field-label,
  .field-node--field-experience-level .field-label,
  .field-node--field-speaker-s- .field-label {
    float: left;
    margin-right: 20px;
    font-family: 'proximanova-bold';
    border: 1px solid;
    padding: 2px;
    width: 30%;
    margin: 2px 4px; }
  /* line 243, ../sass/base/_elements.scss */
  .field-node--field-status .field-items,
  .field-node--field-experience-level .field-items,
  .field-node--field-speaker-s- .field-items {
    width: 67%;
    float: right;
    border: 1px solid;
    padding: 2px;
    margin: 2px 4px; }

/* line 252, ../sass/base/_elements.scss */
a.tabledrag-handle .handle {
  background: url(../../../misc/icons/787878/move.svg) no-repeat 6px 7px;
  height: 25px;
  margin: 0 3em 0 1em;
  padding: 0.42em 0.5em;
  width: 25px; }

/* line 260, ../sass/base/_elements.scss */
.filter-guidelines {
  display: none; }

/* line 264, ../sass/base/_elements.scss */
.fieldset-legend {
  font-size: 22px;
  font-family: 'proximanova-bold'; }

/* line 269, ../sass/base/_elements.scss */
.dropbutton {
  list-style: none !important;
  display: inline-block; }
  /* line 272, ../sass/base/_elements.scss */
  .dropbutton .dropbutton-action {
    display: inline-block; }
    /* line 274, ../sass/base/_elements.scss */
    .dropbutton .dropbutton-action input[type="submit"] {
      background-color: #90bf34;
      display: block;
      width: 175px;
      padding: 10px 5px;
      margin: 10px auto;
      font-family: 'proximanova-bold';
      font-size: 14px;
      color: #eaeced;
      -ms-border-radius: 30px;
      -o-border-radius: 30px;
      -moz-border-radius: 30px;
      -webkit-border-radius: 30px;
      border-radius: 30px; }
  /* line 286, ../sass/base/_elements.scss */
  .dropbutton .dropbutton-toggle {
    display: none; }

/* line 292, ../sass/base/_elements.scss */
.pager .pager__item {
  display: inline;
  padding: 0.5em;
  border: 1px solid;
  margin: 2px; }
  /* line 297, ../sass/base/_elements.scss */
  .pager .pager__item a {
    font-family: 'proximanova-bold'; }

/* line 306, ../sass/base/_elements.scss */
.form-radios {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }

/* line 311, ../sass/base/_elements.scss */
.form-radios .form-item {
  display: inline-block;
  flex-grow: 0;
  padding-right: 20px; }

/* line 2, ../sass/base/_layout.scss */
.page > footer,
.page .maincontent-wrapper {
  width: 100%;
  overflow: hidden;
  background-color: #285689; }

/* line 11, ../sass/base/_layout.scss */
.region-featured p {
  line-height: 0; }

@media only screen {
  /* line 16, ../sass/base/_layout.scss */
  .not-front .maincontent-wrapper {
    padding: 20px 1%; } }
@media only screen and (min-width: 768px) {
  /* line 16, ../sass/base/_layout.scss */
  .not-front .maincontent-wrapper {
    padding: 40px 5%; } }
@media only screen and (min-width: 1025px) {
  /* line 16, ../sass/base/_layout.scss */
  .not-front .maincontent-wrapper {
    padding: 60px 10%; } }

/* line 29, ../sass/base/_layout.scss */
.center-wrapper {
  display: table;
  width: 100%; }

/* line 33, ../sass/base/_layout.scss */
.not-front.panel-col-first {
  background: #f3cb02; }
  @media only screen {
    /* line 33, ../sass/base/_layout.scss */
    .not-front.panel-col-first {
      width: 100% !important;
      padding: 10px 5px 10px 5px; } }
  @media only screen and (min-width: 768px) {
    /* line 33, ../sass/base/_layout.scss */
    .not-front.panel-col-first {
      width: 50% !important;
      padding: 15px 8px 15px 8px; } }
  @media only screen and (min-width: 1025px) {
    /* line 33, ../sass/base/_layout.scss */
    .not-front.panel-col-first {
      width: 65% !important;
      padding: 20px 10px 20px 10px; } }

@media only screen {
  /* line 49, ../sass/base/_layout.scss */
  #page-tabs {
    padding: 0 1% 0 1%; } }
@media only screen and (min-width: 768px) {
  /* line 49, ../sass/base/_layout.scss */
  #page-tabs {
    padding: 0 8% 0 8%; } }
@media only screen and (min-width: 1025px) {
  /* line 49, ../sass/base/_layout.scss */
  #page-tabs {
    padding: 15px 12.5% 0 12.5%; } }

/* line 60, ../sass/base/_layout.scss */
#user-pass,
#user-register-form,
#user-login-form {
  background: #f3cb02; }
  @media only screen {
    /* line 60, ../sass/base/_layout.scss */
    #user-pass,
    #user-register-form,
    #user-login-form {
      padding: 20px 1%; } }
  @media only screen and (min-width: 768px) {
    /* line 60, ../sass/base/_layout.scss */
    #user-pass,
    #user-register-form,
    #user-login-form {
      padding: 40px 8%; } }
  @media only screen and (min-width: 1025px) {
    /* line 60, ../sass/base/_layout.scss */
    #user-pass,
    #user-register-form,
    #user-login-form {
      padding: 60px 20%; } }

/* line 77, ../sass/base/_layout.scss */
.not-homepage .center-wrapper {
  display: table;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px; }
  @media only screen {
    /* line 77, ../sass/base/_layout.scss */
    .not-homepage .center-wrapper {
      padding: 0 1% 0 1%; } }
  @media only screen and (min-width: 768px) {
    /* line 77, ../sass/base/_layout.scss */
    .not-homepage .center-wrapper {
      padding: 0 8% 0 8%; } }
  @media only screen and (min-width: 1025px) {
    /* line 77, ../sass/base/_layout.scss */
    .not-homepage .center-wrapper {
      padding: 0 12.5% 0 12.5%; } }

/* line 93, ../sass/base/_layout.scss */
.not-homepage .content-left {
  background: #f3cb02;
  padding: 15px;
  float: left !important;
  margin-bottom: -99999px;
  padding-bottom: 99999px; }
  @media only screen {
    /* line 93, ../sass/base/_layout.scss */
    .not-homepage .content-left {
      width: 100% !important; } }
  @media only screen and (min-width: 768px) {
    /* line 93, ../sass/base/_layout.scss */
    .not-homepage .content-left {
      width: 50% !important; } }
  @media only screen and (min-width: 1025px) {
    /* line 93, ../sass/base/_layout.scss */
    .not-homepage .content-left {
      width: 65% !important; } }

/* line 109, ../sass/base/_layout.scss */
.not-homepage .content-right {
  float: right !important;
  margin-bottom: -99999px;
  padding-bottom: 99999px; }
  @media only screen {
    /* line 109, ../sass/base/_layout.scss */
    .not-homepage .content-right {
      width: 100% !important; } }
  @media only screen and (min-width: 768px) {
    /* line 109, ../sass/base/_layout.scss */
    .not-homepage .content-right {
      width: 50% !important; } }
  @media only screen and (min-width: 1025px) {
    /* line 109, ../sass/base/_layout.scss */
    .not-homepage .content-right {
      width: 35% !important; } }

/* ----------Footer--------- */
/* line 4, ../sass/components/_footer.scss */
.region-footer {
  background: url(../images/truck.png) no-repeat;
  background-size: 100% 100%;
  position: relative; }
  @media only screen {
    /* line 4, ../sass/components/_footer.scss */
    .region-footer {
      min-height: 250px; } }
  @media only screen and (min-width: 768px) {
    /* line 4, ../sass/components/_footer.scss */
    .region-footer {
      min-height: 450px; } }
  @media only screen and (min-width: 1025px) {
    /* line 4, ../sass/components/_footer.scss */
    .region-footer {
      min-height: 600px; } }

/* line 19, ../sass/components/_footer.scss */
#block-d8dcp-drupalcamppune {
  text-align: right;
  position: absolute;
  width: 100%;
  bottom: 0; }
  /* line 24, ../sass/components/_footer.scss */
  #block-d8dcp-drupalcamppune h2 {
    text-transform: uppercase;
    color: white; }
    @media only screen {
      /* line 24, ../sass/components/_footer.scss */
      #block-d8dcp-drupalcamppune h2 {
        font-size: 11px; } }
    @media only screen and (min-width: 768px) {
      /* line 24, ../sass/components/_footer.scss */
      #block-d8dcp-drupalcamppune h2 {
        font-size: 14px; } }
    @media only screen and (min-width: 1025px) {
      /* line 24, ../sass/components/_footer.scss */
      #block-d8dcp-drupalcamppune h2 {
        font-size: 20px; } }
  /* line 31, ../sass/components/_footer.scss */
  #block-d8dcp-drupalcamppune p {
    color: white; }
    @media only screen {
      /* line 31, ../sass/components/_footer.scss */
      #block-d8dcp-drupalcamppune p {
        font-size: 10px; } }
    @media only screen and (min-width: 768px) {
      /* line 31, ../sass/components/_footer.scss */
      #block-d8dcp-drupalcamppune p {
        font-size: 13px; } }
    @media only screen and (min-width: 1025px) {
      /* line 31, ../sass/components/_footer.scss */
      #block-d8dcp-drupalcamppune p {
        font-size: 16px; } }

/* line 1, ../sass/components/_front.scss */
.region-pagetop {
  *zoom: 1; }
  /* line 41, ../sass/variables/_utils.scss */
  .region-pagetop:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden; }

@media only screen {
  /* line 5, ../sass/components/_front.scss */
  #block-importantdates,
  #block-d8dcp-announcements {
    width: 100%; } }
@media only screen and (min-width: 768px) {
  /* line 5, ../sass/components/_front.scss */
  #block-importantdates,
  #block-d8dcp-announcements {
    width: 50%; } }
@media only screen and (min-width: 1025px) {
  /* line 5, ../sass/components/_front.scss */
  #block-importantdates,
  #block-d8dcp-announcements {
    width: 50%; } }

/* line 18, ../sass/components/_front.scss */
#block-d8dcp-announcements {
  background: #285689; }
  @media only screen {
    /* line 18, ../sass/components/_front.scss */
    #block-d8dcp-announcements {
      padding: 20px 1%;
      float: none; } }
  @media only screen and (min-width: 768px) {
    /* line 18, ../sass/components/_front.scss */
    #block-d8dcp-announcements {
      padding: 40px 3%;
      float: left; } }
  @media only screen and (min-width: 1025px) {
    /* line 18, ../sass/components/_front.scss */
    #block-d8dcp-announcements {
      padding: 60px 5%; } }
  /* line 31, ../sass/components/_front.scss */
  #block-d8dcp-announcements h2 {
    color: #f3cb02;
    text-transform: uppercase; }
    @media only screen {
      /* line 31, ../sass/components/_front.scss */
      #block-d8dcp-announcements h2 {
        font-size: 20px; } }
    @media only screen and (min-width: 1025px) {
      /* line 31, ../sass/components/_front.scss */
      #block-d8dcp-announcements h2 {
        font-size: 40px; } }
  /* line 37, ../sass/components/_front.scss */
  #block-d8dcp-announcements p {
    color: #ebebeb;
    line-height: 1.5; }
  /* line 42, ../sass/components/_front.scss */
  #block-d8dcp-announcements a.sims {
    color: #f3cb02; }

/* line 49, ../sass/components/_front.scss */
#block-importantdates {
  background: #285689; }
  @media only screen {
    /* line 49, ../sass/components/_front.scss */
    #block-importantdates {
      padding: 20px 1%;
      float: none; } }
  @media only screen and (min-width: 768px) {
    /* line 49, ../sass/components/_front.scss */
    #block-importantdates {
      padding: 40px 3%;
      float: right; } }
  @media only screen and (min-width: 1025px) {
    /* line 49, ../sass/components/_front.scss */
    #block-importantdates {
      padding: 60px 5%; } }
  /* line 62, ../sass/components/_front.scss */
  #block-importantdates h2 {
    color: #f3cb02;
    text-transform: uppercase; }
    @media only screen {
      /* line 62, ../sass/components/_front.scss */
      #block-importantdates h2 {
        font-size: 20px; } }
    @media only screen and (min-width: 1025px) {
      /* line 62, ../sass/components/_front.scss */
      #block-importantdates h2 {
        font-size: 40px; } }
  /* line 69, ../sass/components/_front.scss */
  #block-importantdates ol li {
    color: #f3cb02;
    list-style: url("../images/list-pointer.png") inside;
    line-height: 2;
    vertical-align: top;
    padding-top: 10px; }

/* line 79, ../sass/components/_front.scss */
.panel-separator {
  margin: 0 !important; }

/* line 83, ../sass/components/_front.scss */
#block-d8dcp-keynotespeaker {
  background: #285689 url(../images/waves.png);
  background-size: 100% 250%;
  background-position: -50%;
  text-align: center; }
  @media only screen {
    /* line 83, ../sass/components/_front.scss */
    #block-d8dcp-keynotespeaker {
      padding: 20px 1%; } }
  @media only screen and (min-width: 768px) {
    /* line 83, ../sass/components/_front.scss */
    #block-d8dcp-keynotespeaker {
      padding: 40px 5%; } }
  @media only screen and (min-width: 1025px) {
    /* line 83, ../sass/components/_front.scss */
    #block-d8dcp-keynotespeaker {
      padding: 60px 10%; } }
  /* line 97, ../sass/components/_front.scss */
  #block-d8dcp-keynotespeaker h2 {
    color: #f3cb02;
    font-size: 40px;
    text-transform: uppercase; }
  /* line 102, ../sass/components/_front.scss */
  #block-d8dcp-keynotespeaker p {
    color: #ebebeb;
    line-height: 1.5;
    margin: 0 auto; }
    @media only screen {
      /* line 102, ../sass/components/_front.scss */
      #block-d8dcp-keynotespeaker p {
        width: 90%; } }
    @media only screen and (min-width: 768px) {
      /* line 102, ../sass/components/_front.scss */
      #block-d8dcp-keynotespeaker p {
        width: 80%; } }
    @media only screen and (min-width: 1025px) {
      /* line 102, ../sass/components/_front.scss */
      #block-d8dcp-keynotespeaker p {
        width: 69%; } }

/* line 120, ../sass/components/_front.scss */
.front .content-left {
  float: left;
  width: 49.9%; }

/* line 124, ../sass/components/_front.scss */
.front .content-right {
  float: left;
  width: 50%; }

/* line 131, ../sass/components/_front.scss */
.dcp-homepage .panel-col-top .inside {
  margin-bottom: 0; }
/* line 135, ../sass/components/_front.scss */
.dcp-homepage .center-wrapper {
  background: url(../images/texture.png) no-repeat;
  background-size: 100% 100%;
  display: table; }
  @media only screen {
    /* line 135, ../sass/components/_front.scss */
    .dcp-homepage .center-wrapper {
      padding: 20px 1%; } }
  @media only screen and (min-width: 768px) {
    /* line 135, ../sass/components/_front.scss */
    .dcp-homepage .center-wrapper {
      padding: 40px 5%; } }
  @media only screen and (min-width: 1025px) {
    /* line 135, ../sass/components/_front.scss */
    .dcp-homepage .center-wrapper {
      padding: 60px 10%; } }
/* line 149, ../sass/components/_front.scss */
.dcp-homepage .content-left {
  text-align: center; }
  @media only screen {
    /* line 149, ../sass/components/_front.scss */
    .dcp-homepage .content-left {
      width: 100%;
      padding: 10px 2%; } }
  @media only screen and (min-width: 768px) {
    /* line 149, ../sass/components/_front.scss */
    .dcp-homepage .content-left {
      width: 50%;
      padding: 10px 5%; } }
  @media only screen and (min-width: 1025px) {
    /* line 149, ../sass/components/_front.scss */
    .dcp-homepage .content-left {
      width: 65%;
      padding: 20px 10%; } }
  /* line 163, ../sass/components/_front.scss */
  .dcp-homepage .content-left h2 {
    font-family: 'proximanova-bold';
    color: #fb6704;
    text-transform: uppercase;
    background: url(../images/heading-bg.png) no-repeat;
    background-size: 100%;
    padding: 0px 85px; }
    @media only screen {
      /* line 163, ../sass/components/_front.scss */
      .dcp-homepage .content-left h2 {
        font-size: 15px; } }
    @media only screen and (min-width: 768px) {
      /* line 163, ../sass/components/_front.scss */
      .dcp-homepage .content-left h2 {
        font-size: 25px; } }
  /* line 173, ../sass/components/_front.scss */
  .dcp-homepage .content-left p {
    color: #285689;
    line-height: 1.5; }
    @media only screen {
      /* line 173, ../sass/components/_front.scss */
      .dcp-homepage .content-left p {
        font-size: 12px; } }
    @media only screen and (min-width: 768px) {
      /* line 173, ../sass/components/_front.scss */
      .dcp-homepage .content-left p {
        font-size: 16px; } }
  /* line 179, ../sass/components/_front.scss */
  .dcp-homepage .content-left a {
    color: #fb6704;
    border: 4px solid #fb6704;
    display: inline-block;
    text-align: center; }
    @media only screen {
      /* line 179, ../sass/components/_front.scss */
      .dcp-homepage .content-left a {
        font-size: 15px;
        margin: 10px 10px 40px 0;
        padding: 10px 20px; } }
    @media only screen and (min-width: 768px) {
      /* line 179, ../sass/components/_front.scss */
      .dcp-homepage .content-left a {
        font-size: 25px;
        margin: 10px 10px 40px 0;
        padding: 15px 30px; } }
  /* line 196, ../sass/components/_front.scss */
  .dcp-homepage .content-left .contextual-links-wrapper a {
    color: #fb6704;
    padding: 10px;
    font-size: 14px;
    border: none;
    display: inline-block;
    text-align: right;
    margin: 0; }
/* line 207, ../sass/components/_front.scss */
.dcp-homepage .content-right {
  background: url(../images/hornok.png) no-repeat;
  background-size: 100% 100%;
  padding: 80px 0; }
  @media only screen {
    /* line 207, ../sass/components/_front.scss */
    .dcp-homepage .content-right {
      width: 100%; } }
  @media only screen and (min-width: 768px) {
    /* line 207, ../sass/components/_front.scss */
    .dcp-homepage .content-right {
      width: 50%; } }
  @media only screen and (min-width: 1025px) {
    /* line 207, ../sass/components/_front.scss */
    .dcp-homepage .content-right {
      width: 35%; } }
  /* line 220, ../sass/components/_front.scss */
  .dcp-homepage .content-right .inside {
    margin: 0; }
  /* line 223, ../sass/components/_front.scss */
  .dcp-homepage .content-right iframe {
    width: 100% !important;
    padding: 5px;
    background: white; }
  /* line 228, ../sass/components/_front.scss */
  .dcp-homepage .content-right h2 {
    padding: 10px;
    text-transform: uppercase;
    color: white; }

/* line 236, ../sass/components/_front.scss */
.front #block-d8dcp-content {
  display: none; }

@media only screen and (min-width: 1025px) {
  /* line 240, ../sass/components/_front.scss */
  #block-d8dcp-becomeasponsor {
    padding: 0 30px; }
    /* line 243, ../sass/components/_front.scss */
    #block-d8dcp-becomeasponsor p {
      padding: 20px 10px; } }

/* line 249, ../sass/components/_front.scss */
.page-pagebottom {
  background-color: #04c5f5; }
  /* line 251, ../sass/components/_front.scss */
  .page-pagebottom .region-inner {
    background: url(../images/silhouette.png) bottom no-repeat;
    background-size: contain;
    width: 100%; }
    @media only screen {
      /* line 251, ../sass/components/_front.scss */
      .page-pagebottom .region-inner {
        height: 140px; } }
    @media only screen and (min-width: 768px) {
      /* line 251, ../sass/components/_front.scss */
      .page-pagebottom .region-inner {
        height: 300px; } }
    @media only screen and (min-width: 1025px) {
      /* line 251, ../sass/components/_front.scss */
      .page-pagebottom .region-inner {
        height: 500px; } }
  @media only screen {
    /* line 265, ../sass/components/_front.scss */
    .page-pagebottom .region-pagebottom {
      padding-top: 50px; } }
  @media only screen and (min-width: 768px) {
    /* line 265, ../sass/components/_front.scss */
    .page-pagebottom .region-pagebottom {
      padding-top: 100px; } }
  @media only screen and (min-width: 1025px) {
    /* line 265, ../sass/components/_front.scss */
    .page-pagebottom .region-pagebottom {
      padding-top: 160px; } }
  /* line 276, ../sass/components/_front.scss */
  .page-pagebottom #block-becomeasponsor-2 {
    margin: 0 auto;
    text-align: center;
    background: url(../images/bas-bg.png) center no-repeat;
    background-size: contain; }
    @media only screen {
      /* line 276, ../sass/components/_front.scss */
      .page-pagebottom #block-becomeasponsor-2 {
        padding: 15px 0;
        width: 60%; } }
    @media only screen and (min-width: 768px) {
      /* line 276, ../sass/components/_front.scss */
      .page-pagebottom #block-becomeasponsor-2 {
        padding: 35px 0;
        width: 60%; } }
    @media only screen and (min-width: 1025px) {
      /* line 276, ../sass/components/_front.scss */
      .page-pagebottom #block-becomeasponsor-2 {
        padding: 65px 0;
        width: 25%; } }
    /* line 293, ../sass/components/_front.scss */
    .page-pagebottom #block-becomeasponsor-2 .sponsor-link-hp {
      color: #f3cb02;
      text-transform: uppercase;
      font-family: 'proximanova-bold'; }
      @media only screen {
        /* line 293, ../sass/components/_front.scss */
        .page-pagebottom #block-becomeasponsor-2 .sponsor-link-hp {
          font-size: 15px; } }
      @media only screen and (min-width: 768px) {
        /* line 293, ../sass/components/_front.scss */
        .page-pagebottom #block-becomeasponsor-2 .sponsor-link-hp {
          font-size: 20px; } }
      @media only screen and (min-width: 1025px) {
        /* line 293, ../sass/components/_front.scss */
        .page-pagebottom #block-becomeasponsor-2 .sponsor-link-hp {
          font-size: 30px; } }

/* ----------Header--------- */
/* line 3, ../sass/components/_header.scss */
header {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  /* line 12, ../../../../../../../../Users/saket/.rvm/gems/ruby-1.9.3-p547/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
  header:after {
    content: " ";
    display: block;
    clear: both; }
  @media only screen {
    /* line 3, ../sass/components/_header.scss */
    header {
      background: #285689; } }
  @media only screen and (min-width: 768px) {
    /* line 3, ../sass/components/_header.scss */
    header {
      background: #285689 url(../images/header-tpbg.png) repeat; } }

/* line 13, ../sass/components/_header.scss */
.region-header {
  margin: 0 auto;
  padding-bottom: 10px; }
  @media only screen {
    /* line 13, ../sass/components/_header.scss */
    .region-header {
      width: 100%; } }
  @media only screen and (min-width: 768px) {
    /* line 13, ../sass/components/_header.scss */
    .region-header {
      width: 98%; } }
  @media only screen and (min-width: 1025px) {
    /* line 13, ../sass/components/_header.scss */
    .region-header {
      width: 92%; } }

@media only screen {
  /* line 27, ../sass/components/_header.scss */
  #block-d8dcp-main-menu {
    width: 100%; } }
@media only screen and (min-width: 768px) {
  /* line 27, ../sass/components/_header.scss */
  #block-d8dcp-main-menu {
    float: left;
    width: 65%; } }

@media only screen {
  /* line 40, ../sass/components/_header.scss */
  #block-d8dcp-userloginmenu,
  #block-d8dcp-account-menu {
    width: 100%; } }
@media only screen and (min-width: 768px) {
  /* line 40, ../sass/components/_header.scss */
  #block-d8dcp-userloginmenu,
  #block-d8dcp-account-menu {
    float: right;
    width: 20%;
    text-align: right; } }

/* line 58, ../sass/components/_header.scss */
#block-d8dcp-main-menu ul.menu-top li {
  display: inline-block;
  border: none;
  float: none;
  background-color: transparent;
  position: relative;
  padding-bottom: 8px; }
  @media only screen {
    /* line 58, ../sass/components/_header.scss */
    #block-d8dcp-main-menu ul.menu-top li {
      width: 100%; } }
  @media only screen and (min-width: 768px) {
    /* line 58, ../sass/components/_header.scss */
    #block-d8dcp-main-menu ul.menu-top li {
      width: auto; } }
  /* line 71, ../sass/components/_header.scss */
  #block-d8dcp-main-menu ul.menu-top li:hover {
    background: none; }
  /* line 74, ../sass/components/_header.scss */
  #block-d8dcp-main-menu ul.menu-top li > a {
    color: #f3cb02;
    line-height: 1;
    text-transform: uppercase;
    display: inline-block; }
    @media only screen {
      /* line 74, ../sass/components/_header.scss */
      #block-d8dcp-main-menu ul.menu-top li > a {
        padding: 5px;
        font-size: 18px;
        width: 100%; }
        /* line 83, ../sass/components/_header.scss */
        #block-d8dcp-main-menu ul.menu-top li > a.is-active, #block-d8dcp-main-menu ul.menu-top li > a:hover {
          color: white; } }
    @media only screen and (min-width: 768px) {
      /* line 74, ../sass/components/_header.scss */
      #block-d8dcp-main-menu ul.menu-top li > a {
        width: auto;
        padding: 5px 8px;
        font-size: 14px; } }
    @media only screen and (min-width: 1025px) {
      /* line 74, ../sass/components/_header.scss */
      #block-d8dcp-main-menu ul.menu-top li > a {
        padding: 20px 30px 0 30px;
        font-size: 18px; }
        /* line 96, ../sass/components/_header.scss */
        #block-d8dcp-main-menu ul.menu-top li > a.is-active, #block-d8dcp-main-menu ul.menu-top li > a:hover {
          color: white;
          background: url(../images/pointer.png) top no-repeat; } }
  /* line 103, ../sass/components/_header.scss */
  #block-d8dcp-main-menu ul.menu-top li ul.menu {
    display: none;
    background: #285689;
    padding-bottom: 10px; }
    @media only screen and (min-width: 768px) {
      /* line 103, ../sass/components/_header.scss */
      #block-d8dcp-main-menu ul.menu-top li ul.menu {
        width: 200px;
        position: absolute;
        top: 30px;
        right: -45px;
        z-index: 100; } }
    @media only screen and (min-width: 1025px) {
      /* line 103, ../sass/components/_header.scss */
      #block-d8dcp-main-menu ul.menu-top li ul.menu {
        width: 250px;
        position: absolute;
        top: 50px;
        right: -65px;
        z-index: 100; } }
    /* line 124, ../sass/components/_header.scss */
    #block-d8dcp-main-menu ul.menu-top li ul.menu li {
      width: 100%;
      text-align: center; }
    /* line 128, ../sass/components/_header.scss */
    #block-d8dcp-main-menu ul.menu-top li ul.menu a {
      color: #f3cb02;
      font-size: 18px;
      line-height: 1;
      text-transform: uppercase;
      padding: 20px 30px 0 30px;
      display: inline-block; }
      /* line 135, ../sass/components/_header.scss */
      #block-d8dcp-main-menu ul.menu-top li ul.menu a.is-active, #block-d8dcp-main-menu ul.menu-top li ul.menu a:hover {
        color: white;
        background: none; }
      @media only screen {
        /* line 128, ../sass/components/_header.scss */
        #block-d8dcp-main-menu ul.menu-top li ul.menu a {
          padding: 5px;
          font-size: 18px;
          width: 100%; } }
      @media only screen and (min-width: 768px) {
        /* line 128, ../sass/components/_header.scss */
        #block-d8dcp-main-menu ul.menu-top li ul.menu a {
          width: auto;
          padding: 5px 8px;
          font-size: 14px; } }
      @media only screen and (min-width: 1025px) {
        /* line 128, ../sass/components/_header.scss */
        #block-d8dcp-main-menu ul.menu-top li ul.menu a {
          padding: 20px 30px 0 30px;
          font-size: 18px; } }
  /* line 157, ../sass/components/_header.scss */
  #block-d8dcp-main-menu ul.menu-top li.menu-item--expanded:hover ul.menu {
    display: block; }

/* line 175, ../sass/components/_header.scss */
#block-d8dcp-userloginmenu ul.menu-top li,
#block-d8dcp-account-menu ul.menu-top li {
  display: inline-block;
  border: none;
  float: none;
  background-color: transparent;
  position: relative;
  padding-bottom: 8px; }
  @media only screen {
    /* line 175, ../sass/components/_header.scss */
    #block-d8dcp-userloginmenu ul.menu-top li,
    #block-d8dcp-account-menu ul.menu-top li {
      width: 100%; } }
  @media only screen and (min-width: 768px) {
    /* line 175, ../sass/components/_header.scss */
    #block-d8dcp-userloginmenu ul.menu-top li,
    #block-d8dcp-account-menu ul.menu-top li {
      width: auto; } }
  /* line 188, ../sass/components/_header.scss */
  #block-d8dcp-userloginmenu ul.menu-top li:hover,
  #block-d8dcp-account-menu ul.menu-top li:hover {
    background: none; }
  /* line 191, ../sass/components/_header.scss */
  #block-d8dcp-userloginmenu ul.menu-top li > a,
  #block-d8dcp-account-menu ul.menu-top li > a {
    color: #ffffff;
    line-height: 1;
    text-transform: uppercase;
    display: inline-block; }
    @media only screen {
      /* line 191, ../sass/components/_header.scss */
      #block-d8dcp-userloginmenu ul.menu-top li > a,
      #block-d8dcp-account-menu ul.menu-top li > a {
        padding: 5px;
        font-size: 18px;
        width: 100%; }
        /* line 200, ../sass/components/_header.scss */
        #block-d8dcp-userloginmenu ul.menu-top li > a.is-active, #block-d8dcp-userloginmenu ul.menu-top li > a:hover,
        #block-d8dcp-account-menu ul.menu-top li > a.is-active,
        #block-d8dcp-account-menu ul.menu-top li > a:hover {
          color: white; } }
    @media only screen and (min-width: 768px) {
      /* line 191, ../sass/components/_header.scss */
      #block-d8dcp-userloginmenu ul.menu-top li > a,
      #block-d8dcp-account-menu ul.menu-top li > a {
        width: auto;
        padding: 5px 2px;
        font-size: 11px; } }
    @media only screen and (min-width: 1025px) {
      /* line 191, ../sass/components/_header.scss */
      #block-d8dcp-userloginmenu ul.menu-top li > a,
      #block-d8dcp-account-menu ul.menu-top li > a {
        padding: 20px 8px 0 8px;
        font-size: 13px; } }

/* line 4, ../sass/components/_pages.scss */
.sponsors .views-row {
  text-align: center;
  padding: 2px;
  margin: 5px 1%;
  border: 1px solid #000;
  height: 200px;
  overflow: hidden; }
  @media only screen {
    /* line 4, ../sass/components/_pages.scss */
    .sponsors .views-row {
      width: 100%; } }
  @media only screen and (min-width: 768px) {
    /* line 4, ../sass/components/_pages.scss */
    .sponsors .views-row {
      width: 48%;
      float: left; } }
  @media only screen and (min-width: 1025px) {
    /* line 4, ../sass/components/_pages.scss */
    .sponsors .views-row {
      width: 48%; } }
  /* line 21, ../sass/components/_pages.scss */
  .sponsors .views-row .field-content,
  .sponsors .views-row .views-field-field-logo {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden; }
  /* line 28, ../sass/components/_pages.scss */
  .sponsors .views-row a {
    display: block;
    width: 100%;
    height: 100%; }
  /* line 33, ../sass/components/_pages.scss */
  .sponsors .views-row img {
    width: 100%;
    height: 100%; }

/* line 41, ../sass/components/_pages.scss */
.proposed-sessions {
  *zoom: 1;
  padding-bottom: 20px; }
  /* line 41, ../sass/variables/_utils.scss */
  .proposed-sessions:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden; }
  /* line 43, ../sass/components/_pages.scss */
  .proposed-sessions .form-item-field-experience-level-value {
    float: left; }
  /* line 46, ../sass/components/_pages.scss */
  .proposed-sessions #edit-actions {
    float: right; }
  /* line 50, ../sass/components/_pages.scss */
  .proposed-sessions .views-exposed-form {
    display: table;
    width: 100%; }
    /* line 53, ../sass/components/_pages.scss */
    .proposed-sessions .views-exposed-form .form-item-field-experience-level-value {
      padding: 2px;
      margin: 5px 1%; }
      @media only screen {
        /* line 53, ../sass/components/_pages.scss */
        .proposed-sessions .views-exposed-form .form-item-field-experience-level-value {
          width: 100%; } }
      @media only screen and (min-width: 768px) {
        /* line 53, ../sass/components/_pages.scss */
        .proposed-sessions .views-exposed-form .form-item-field-experience-level-value {
          width: 48%;
          float: left; } }
      @media only screen and (min-width: 1025px) {
        /* line 53, ../sass/components/_pages.scss */
        .proposed-sessions .views-exposed-form .form-item-field-experience-level-value {
          width: 48%; } }
    /* line 67, ../sass/components/_pages.scss */
    .proposed-sessions .views-exposed-form #edit-actions {
      padding: 2px;
      margin: 5px 1%; }
      @media only screen {
        /* line 67, ../sass/components/_pages.scss */
        .proposed-sessions .views-exposed-form #edit-actions {
          width: 100%; } }
      @media only screen and (min-width: 768px) {
        /* line 67, ../sass/components/_pages.scss */
        .proposed-sessions .views-exposed-form #edit-actions {
          width: 48%; } }
      @media only screen and (min-width: 1025px) {
        /* line 67, ../sass/components/_pages.scss */
        .proposed-sessions .views-exposed-form #edit-actions {
          width: 48%; } }
      /* line 79, ../sass/components/_pages.scss */
      .proposed-sessions .views-exposed-form #edit-actions input[type="submit"] {
        background-color: #90bf34;
        display: block;
        width: 200px;
        padding: 5px;
        margin: 0 auto;
        font-family: 'proximanova-bold';
        font-size: 14px;
        color: #eaeced;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        border-radius: 30px; }
        @media only screen and (min-width: 768px) {
          /* line 79, ../sass/components/_pages.scss */
          .proposed-sessions .views-exposed-form #edit-actions input[type="submit"] {
            margin: 0; } }
  /* line 95, ../sass/components/_pages.scss */
  .proposed-sessions .views-row {
    margin-top: 50px; }
    /* line 97, ../sass/components/_pages.scss */
    .proposed-sessions .views-row .views-field-title {
      font-size: 22px;
      font-family: 'proximanova-bold'; }
    /* line 101, ../sass/components/_pages.scss */
    .proposed-sessions .views-row .views-field-field-speaker-s- {
      *zoom: 1;
      font-size: 12px; }
      /* line 41, ../sass/variables/_utils.scss */
      .proposed-sessions .views-row .views-field-field-speaker-s-:after {
        content: "\0020";
        display: block;
        height: 0;
        clear: both;
        overflow: hidden;
        visibility: hidden; }
      /* line 104, ../sass/components/_pages.scss */
      .proposed-sessions .views-row .views-field-field-speaker-s- .views-label-field-speaker-s- {
        float: left; }
    /* line 108, ../sass/components/_pages.scss */
    .proposed-sessions .views-row .views-field-body {
      font-size: 14px;
      margin-top: 10px; }
      /* line 111, ../sass/components/_pages.scss */
      .proposed-sessions .views-row .views-field-body p {
        line-height: 1.3; }
      /* line 114, ../sass/components/_pages.scss */
      .proposed-sessions .views-row .views-field-body ul {
        padding-left: 20px; }
        /* line 116, ../sass/components/_pages.scss */
        .proposed-sessions .views-row .views-field-body ul li {
          line-height: 1.3em; }

/* line 124, ../sass/components/_pages.scss */
.field-item {
  padding: 0 3px; }

/* line 128, ../sass/components/_pages.scss */
.speakers article {
  display: inline-flex; }
