/*------------------------------------*\
    * @file
    * Variables.
\*------------------------------------*/

// Fonts
$standard-font: sans-serif;
$body-font: 'Ubuntu', sans-serif;
$title-font: 'Roboto', sans-serif;

// Font Weights
$light: 400;
$normal: 500;
$bold: 700;

// Font Colors
$grey: #92969e;
$blue: #1975d2;
$black: #131313;
$dark-grey: #0f374a;
$form-select: #9FA0AE;
$white: #fff;
$border: #cecece;
$label: #2D2D2D;
$form-text: #5e6675;
$session-title: #313131;
$speaker: #316CF4;

// Background Colors
$medblue: #f7f9fb;
$lightblue: #f5f9fe;

// Button Colors
$medred: #fd1f58;
$btn-color: #FF0074;

// Layouts width
$container-width: 95%;

// Border colors
$color--border: #DADBEC;

// Transition time.
$transition-time: 0.25s;
