// We use these as default colors throughout
$primary-bg: #f2f2f2;
$secondary-color: #2f2f2f;
$alert-color: #f04124;
$success-color: #43ac6a;
$warning-color: #f08a24;
$info-color: #a0d3e8;
$light-orange: #ffa323;
$white: #ffffff;
$black: #000000;

//color for error messages
$messages_error_text: #996655;
$messages_error_bg: #ffe4e0;
$messages_warning_text: #aa8844;
$messages_warning_bg: #fff4c0;
$messages_status_text: #668877;
$messages_status_bg: #ecf8f4;


$red: #f2594b;
$light-green: #84b81e;
$green: #90bf34;
$dark-green: #283a3e;
$light-grey: #f8f8fb;
$light-grey-text: #eaeced;
$dark-grey: #2f2f2f;
$grey-bg-dark: #e8e8ee;
$text-grey: #aaaaaa;
$lightergrey: #b9bdc8;
$lightgrey: #eaeced;
$grey: #7f7f7f;
$darkgrey: #353739;
$light-blue: #00ccff;
$dark-blue: #285689;
$text-dark-blue: #0d5981;
$yellow: #f3cb02;

$menu-bg-color: #285689;

