/*------------------------------------*\
    * @file
    * Variables.
\*------------------------------------*/

// Fonts
$body-font: 'Ubuntu', sans-serif;
$title-font: 'Roboto', sans-serif;

// Font Weights
$light: 400;
$normal: 500;
$bold: 700;

// Font Colors
$grey: #92969e;
$blue: #1975d2;
$black: #131313;

// Background Colors
$medblue: #f7f9fb;
$lightblue: #f5f9fe;

// Button Colors
$medred: #fd1f58;

// Layouts width
$container-width: 80%;
