/*------------------------------------*\
    * @file
    * Block.
\*------------------------------------*/

#block-callforpapper {
  .field {
    @include breakpoint(phablet) {
      width: 80%;
    }
    @include breakpoint(mobileonly) {
      width: 95%;
    }
    width: 65%;
    margin: 0 auto;
    padding: 50px 10px;
    h2 {
      padding: 20px 0;
      font-size: 22px;
      strong {
        color: $blue;
        font-family: $title-font;
        font-size: 30px;
      }
    }
    ul {
      padding-left: 30px;
      list-style: initial;
      li {
        padding: 5px 0;
        font-family: $title-font;
      }
    }
    p:first-of-type {
      margin-left: 10px;
      padding: 8px 0;
      text-align: center;
      color: $dark-grey;
      font-family: $body-font;
      line-height: 2;
    }
    h3 {
      padding: 15px 0;
      color: $dark-grey;
      font-family: $title-font;
      font-size: 22px;
      font-weight: $light;
    }
    p {
      text-align: center;
      font-family: $body-font;
      a {
        @include abutton($medred);
        @include breakpoint(mobileonly) {
          width: 250px;
        }
        width: 300px;
        padding: 15px 50px;
        color: #fff;
      }
    }
  }
}
/**
* Site logo show when user add node
*/

#block-sitelogo {
  @include breakpoint(phablet) {
    display: none;
  }
  height: 90px;
  padding-top: 14px;
  text-align: center;
  background-color: #607db5;
}
.view-view-submissions {
  @include breakpoint(phablet) {
    width: 95%;
  }
  width: 80%;
  margin: 60px 30px;
  .view-header {
    display: flex;
    color: #fff;
    background: rgba(0, 126, 204, 0.81);
    .left {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 10px 0;
    }
  }
  .views-row {
    display: flex;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    font-size: 16px;
    a {
      text-decoration: none;
      color: #111;
    }
    .views-field-title {
      width: 100%;
      padding: 20px 10px;
      text-align: center;
    }
    .views-field-edit-node {
      display: flex;
      justify-content: center;
      width: 25%;
      padding: 20px 10px;
    }
  }
}
.node-session-edit-form {
  @include container($container-width, 20px);
  @include breakpoint(mobileonly) {
    padding: 0;
  }
  margin-top: 50px;
  label {
    // color: black;
    // display: inline-block;
    // margin-bottom: 10px;
    // font-weight: bold;
    // font-family: $title-font;
    // font-weight: $light;
    // @include breakpoint(mobileonly) {
    //     font-size: 14px;
    // }
    // a {
    //     text-decoration: none;
    //     color: $blue;
    // }
  }
  .text-full,
  .form-text,
  .form-file {
    // @include breakpoint(mobileonly) {
    //   font-size: 14px;
    // }
    // display: block;
    // width: 100%;
    // height: 40px;
    // padding: 6px 12px;
    // transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    // color: #5e6675;
    // border: 1px solid #cecece;
    // border-radius: 2px;
    // background-color: #fff;
    // font-size: 16px;
    // line-height: 1.42857143;
  }
  .form-textarea {
    // height: 200px;
  }
  .description {
    // margin-top: 10px;
  }
}
.profilepage {
  .block-views-blockview-submissions-block-1 {
    h2 {
      color: #92969e;
      font-family: $title-font;
      font-size: 32px;
    }
  }
  .region-content {
    width: 100%;
  }
  .main-content {
    justify-content: initial;
  }
  .view-empty {
    font-family: $title-font;
    font-weight: 400;
    a {
      display: inline-block;
      width: 200px;
      margin-top: 10px;
      padding: 15px 19px;
      text-align: center;
      text-decoration: none;
      color: #fff;
      border-radius: 5px;
      background-color: #fd1f58;
    }
  }
}
