    /*------------------------------------*\
    * @file
    * Login.
\*------------------------------------*/

    .path-user,
    .path-submit-session,
    .path-submit-workshop {
      .content {
        background-color: $medblue;
      }

      .main-content {
        width: 95%;
        margin: 50px auto;
        padding: 50px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .user-logged-in #edit-account {
      background-color: $white;
      padding: 30px;
      color: $text-color;
    }

    .user-logged-in .field--name-field-drupal-org-link {
      background-color: $white;
      padding: 1px 30px;
      color: $text-color;
    }

    .user-logged-in .field--name-field-curr {
      background-color: $white;
      padding: 1px 30px;
      color: $text-color;
    }

    .login-new-form {
      background-color: $white;
      padding: 30px;
      color: $text-color;

      h2 {
        padding: 20px 0px;
        font-size: 24px;
        font-family: $title-font;
        font-weight: 800;
      }

      a {
        color: $text-color;
        text-decoration: none;
        margin-top: 15px;
        display: block;
      }
    }

    form.user-login-form,
    form.user-register-form,
      {
      border-top: 1px solid $medblue;
      border-bottom: 1px solid $medblue;

      .js-form-item {
        display: flex;
        flex-direction: column;
      }

      .description {
        display: none;
      }

      label {
        margin: 5px 0px;
        font-family: $title-font;
      }

      label::after {
        content: unset;
      }
    }

    form.user-register-form input:focus,
    form.user-register-form input:focus {
      outline: none;
    }

    select#edit-field-curr {
      font-size: 1em;
      color: $white;
      width: 100%;
      display: block;
      border: none;
      border-radius: 2px;
      padding: 1em;
      border-bottom: solid 1px $white;
      -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
      transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
      background-color: $medblue;
      color: $text-color;
      height: 50px;
    }

    form.user-register-form input[type="text"],
    form.user-register-form input[type="password"],
    form.user-register-form input[type="email"],
    form.user-register-form input[type="file"],
    form.user-register-form input[type="url"],
    form.user-login-form input[type="text"],
    form.user-login-form input[type="password"],
    form.user-login-form input[type="email"],
    form.user-login-form input[type="file"],
    form.user-login-form input[type="url"] {
      font-size: 1em;
      color: $white;
      width: 100%;
      display: block;
      border: none;
      border-radius: 2px;
      padding: 1em;
      border-bottom: solid 1px $white;
      -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
      transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
      background-color: $medblue;
      color: $text-color;
    }

    input[type=submit] {
      background-color: $btn-color;
      color: $white;
      padding: 10px 30px;
      border: none;
      border-radius: 5px;
      font-size: 14px;
    }

    form.user-login-form .form-actions,
    form.user-registration-form .form-actions {
      display: flex;
      justify-content: flex-end;
    }

    .new-account {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      color: $text-color;

      a {
        text-decoration: none;
        color: $btn-color;
      }
    }

    #volunteer-field a {
      display: inline-block;
      color: $btn-color;
    }

    #register-close {
      font-size: 32px;
      padding: 20px;
      color: $grey;
    }

    #edit-field-drupal-org-profile-0-value--description {
      &.description {
        margin-top: 10px;
        display: block;
      }
    }

    select {

      &#edit-field-type-of-business.form-select,
      &#edit-field-role.form-select {
        font-size: 1em;
        color: $white;
        width: 100%;
        display: block;
        border: none;
        border-radius: 2px;
        padding: 1em;
        border-bottom: solid 1px $white;
        -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
        transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
        background-color: $medblue;
        color: $text-color;
        background: url(../images/arrow.svg) no-repeat center center;
        background-position: 98% center;
        width: 100%;
        background-color: $medblue;
      }
    }
