.path-frontpage {
  .header-main-wrapper {
    @include container(1280px, 60px, 50px, 15px);
    display: flex;
    position: relative;
    @include breakpoint(laptop) {
      display: block;
    }

    .border-design {
      &::after {
        content: url(../../../../../themes/custom/dcp/images/design.svg);
        position: absolute;
        right: 0;
        top: 35px;
        @include breakpoint(laptop) {
          content: normal;
        }
      }
    }
  }

  .header-content {
    padding: 120px 0 200px 0;
    flex-basis: 50%;
    @include breakpoint(laptop) {
      padding: 65px 0 75px 0;
      text-align: center;
    }


    .field--name-field-banner-title {
      @extend %CircularAir-Bold;
      font-size: 72px;
      line-height: 1.05;
      letter-spacing: 0.63px;
      color: white;
      @include breakpoint(laptop) {
        font-size: 40px;
        line-height: 1.7;
        letter-spacing: 0.35px;
      }
    }

    .field--name-body {
      margin-top: 22px;
      @include breakpoint(laptop) {
        margin-top: 16px;
      }
    }

    .welcome-text {
      font-size: 38px;
      line-height: 1.15;
      letter-spacing: 0.44px;
      color: $link-red;
      @include breakpoint(laptop) {
        font-size: 30px;
        line-height: 1.3;
        letter-spacing: 0.35px;
      }
    }

    .camp-date {
      @extend %CircularAir-Bold;
      font-size: 20px;
      line-height: 1.25;
      letter-spacing: 0.5px;
      margin: 20px 0;
      @include breakpoint(laptop) {
        margin: 12px 0 25px 0;
      }
    }

    .camp-date,
    p {
      color: white;
    }

    p {
      @extend %CircularAir-Book;
      font-size: 18px;
      line-height: 1.38;
      letter-spacing: 0.44px;
      margin-bottom: 37px;
    }

    .field--name-field-banner-link {
      a {
        @include button();
      }
    }
  }
}
