@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('proximanova-regular.eot');
    src: url('proximanova-regular.eot') format('embedded-opentype'),
         url('proximanova-regular.woff2') format('woff2'),
         url('proximanova-regular.woff') format('woff'),
         url('proximanova-regular.ttf') format('truetype'),
         url('proximanova-regular.svg#ProximaNovaRegular') format('svg');
}
