<div class="diwrapper">
  <div class="ditextwrap">
    <div class="dititle">
        {{ label }}
    </div>
    <div class="dibody">
        {{ content.body }}
    </div>
  </div>
  <div class="diimage-wrapper">
    <div class="diimage">
      {{ content.field_image }}
    </div>
  </div>
</div>
