// Normalize css
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

p{
  line-height:1.5;
}

// Default css sidewide

a {
  text-decoration: none;
}
a:hover{
  color: $dark-grey;
}
a.active ,
a, a:visited {
  color: $dark-grey;
  font-weight: bold;
}
li a.active {
  color: $dark-grey;
}

::-webkit-input-placeholder {
  color: $text-grey;
}

:-moz-placeholder { /* Firefox 18- */
  color: $text-grey;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: $text-grey;
}

:-ms-input-placeholder {
  color: $text-grey;
}
div.messages{
  &.error{
    color: $messages_error_text;
    background-color: $messages_error_bg;
    li{
      color: $messages_error_text;
    }
  }
  ul {
    padding: 0;
    li{
      margin:0;
    }
  }
  &.warning{
    color: $messages_warning_text;
    background-color: $messages_warning_bg;
    li{
      color: $messages_warning_text;
    }
  }
  &.status{
    color: $messages_status_text;
    background-color: $messages_status_bg;
    li{
      color: $messages_status_text;
    }
  }
}
.messages {
  margin: 0;
}

body {
  font-family: 'ProximaNova';
  line-height: 1.2;
}
