/* ----------Footer--------- */

//.front {
  .region-footer {
    background: url(../images/truck.png) no-repeat;
    background-size: 100% 100%;

    position:relative;
    @media #{$mobile}{
      min-height: 250px;
    }
    @media #{$tab}{
      min-height: 450px;
    }
    @media #{$desktop}{
      min-height: 600px;
    }
  }
  #block-block-1 {
    text-align: right;
    position: absolute;
    width: 100%;
    bottom: 0;
    h2 {
      text-transform: uppercase;
      color: white;
      @media #{$mobile}{font-size: 11px;}
      @media #{$tab}{font-size: 14px;}
      @media #{$desktop}{font-size: 20px;}
    }
    p {
      color: white;
      @media #{$mobile}{font-size: 10px;}
      @media #{$tab}{font-size: 13px;}
      @media #{$desktop}{font-size: 16px;}
    }
  }
//}
