#block-d8dcp-announcements {
  background: $dark-blue;
  @media #{$mobile}{
    padding: 20px 1%;
  }
  @media #{$tab}{
    padding: 40px 5%;
  }
  @media #{$desktop}{
    padding: 60px 10%;
  }
  h2 {
    color:  $yellow;
    font-size: 40px;
    text-transform: uppercase;
  }
  p {
    color:  #ebebeb;
    line-height: 1.5;
  }

  a.venue-details {
    color:  #ebebeb;
    font-size: 30px;
    padding-top: 20px;
    display: block;
  }

  ol {
    li {
      color: $yellow;
      list-style: url('../images/list-pointer.png') inside;
      line-height: 2;
      vertical-align: top;
      padding-top: 10px;
    }
  }
}

.panel-separator {
  margin: 0 !important;
}

#block-d8dcp-keynotespeaker {
  background: $dark-blue url(../images/waves.png);
  background-size: 100% 250%;
  background-position: -50%;
  text-align: center;
  @media #{$mobile}{
    padding: 20px 1%;
  }
  @media #{$tab}{
    padding: 40px 5%;
  }
  @media #{$desktop}{
    padding: 60px 10%;
  }
  h2 {
    color:  $yellow;
    font-size: 40px;
    text-transform: uppercase;
  }
  p {
    color:  #ebebeb;
    line-height: 1.5;
    margin: 0 auto;
    @media #{$mobile}{
      width: 90%;
    }
    @media #{$tab}{
      width: 80%;
    }
    @media #{$desktop}{
      width: 69%;
    }
  }
}



.front .content-left {
  float: left;
  width: 49.9%;
}
.front .content-right {
  float: left;
  width: 50%;
}

.dcp-homepage {
  .panel-col-top {
    .inside {
      margin-bottom:0;
    }
  }
  .center-wrapper {
    background: url(../images/texture.png) no-repeat;
    background-size: 100% 100%;
    display: table;
    @media #{$mobile}{
      padding: 20px 1%;
    }
    @media #{$tab}{
      padding: 40px 5%;
    }
    @media #{$desktop}{
      padding: 60px 10%;
    }
  }
  .content-left {
    text-align: center;
    @media #{$mobile}{
      width: 100%;
      padding: 10px 2%;
    }
    @media #{$tab}{
      width: 50%;
      padding: 10px 5%;
    }
    @media #{$desktop}{
      width: 65%;
      padding: 20px 10%;
    }
    h2{
      font-family: 'proximanova-bold';
      color: #fb6704;
      font-size: 25px;
      text-transform: uppercase;
      background: url(../images/heading-bg.png) no-repeat;
      background-size: 100%;
      padding: 0px 85px;
    }
    p {
      color:  #285689;
      font-size: 16px;
      line-height: 1.5;
    }
    a {
      color:  #fb6704;
      padding: 15px 30px;
      font-size:25px;
      border: 4px solid #fb6704;
      display: inline-block;
      text-align: center;
      margin: 10px 10px 40px 0;
    }
    .contextual-links-wrapper {
      a {
        color:  #fb6704;
        padding: 10px;
        font-size:14px;
        border: none;
        display: inline-block;
        text-align: right;
        margin: 0;
      }
    }
  }
  .content-right {
    background: url(../images/hornok.png) no-repeat;
    background-size: 100% 100%;
    padding: 80px 0;
    @media #{$mobile}{
      width: 100%;
    }
    @media #{$tab}{
      width: 50%;
    }
    @media #{$desktop}{
      width: 35%;
    }
    .inside {
      margin: 0;
    }
    iframe {
      width: 100% !important;
      padding: 5px;
      background: white;
    }
    h2 {
      padding: 10px;
      text-transform: uppercase;
      color: white;
    }
  }
}

.front #block-d8dcp-content {
  display: none;
}


