.region-pagetop {
  @include clearfix;
}

#block-importantdates,
#block-d8dcp-announcements {
  @media #{$mobile}{
    width:100%;
  }
  @media #{$tab}{
    width:50%
  }
  @media #{$desktop}{
    width:50%;
  }
}

#block-d8dcp-announcements {
  background: $dark-blue;
  @media #{$mobile}{
    padding: 20px 1%;
    float: none;
  }
  @media #{$tab}{
    padding: 40px 3%;
    float: left;
  }
  @media #{$desktop}{
    padding: 60px 5%;
  }
  h2 {
    color: $yellow;
    text-transform: uppercase;
    @media #{$mobile}{font-size: 20px;}
    @media #{$desktop}{font-size: 40px;}
  }
  p {
    color: #ebebeb;
    line-height: 1.5;
  }

  a.sims {
    color:  $yellow;
  }


}

#block-importantdates {
  background: $dark-blue;
  @media #{$mobile}{
    padding: 20px 1%;
    float: none;
  }
  @media #{$tab}{
    padding: 40px 3%;
    float: right;
  }
  @media #{$desktop}{
    padding: 60px 5%;
  }
  h2 {
    color: $yellow;
    text-transform: uppercase;
    @media #{$mobile}{font-size: 20px;}
    @media #{$desktop}{font-size: 40px;}
  }
  ol {
    li {
      color: $yellow;
      list-style: url('../images/list-pointer.png') inside;
      line-height: 2;
      vertical-align: top;
      padding-top: 10px;
    }
  }
}

.panel-separator {
  margin: 0 !important;
}

#block-d8dcp-keynotespeaker {
  background: $dark-blue url(../images/waves.png);
  background-size: 100% 250%;
  background-position: -50%;
  text-align: center;
  @media #{$mobile}{
    padding: 20px 1%;
  }
  @media #{$tab}{
    padding: 40px 5%;
  }
  @media #{$desktop}{
    padding: 60px 10%;
  }
  h2 {
    color:  $yellow;
    font-size: 40px;
    text-transform: uppercase;
  }
  p {
    color:  #ebebeb;
    line-height: 1.5;
    margin: 0 auto;
    @media #{$mobile}{
      width: 90%;
    }
    @media #{$tab}{
      width: 80%;
    }
    @media #{$desktop}{
      width: 69%;
    }
  }
}



.front .content-left {
  float: left;
  width: 49.9%;
}
.front .content-right {
  float: left;
  width: 50%;
}

.dcp-homepage {
  .panel-col-top {
    .inside {
      margin-bottom:0;
    }
  }
  .center-wrapper {
    background: url(../images/texture.png) no-repeat;
    background-size: 100% 100%;
    display: table;
    @media #{$mobile}{
      padding: 20px 1%;
    }
    @media #{$tab}{
      padding: 40px 5%;
    }
    @media #{$desktop}{
      padding: 60px 10%;
    }
  }
  .content-left {
    text-align: center;
    @media #{$mobile}{
      width: 100%;
      padding: 10px 2%;
    }
    @media #{$tab}{
      width: 50%;
      padding: 10px 5%;
    }
    @media #{$desktop}{
      width: 65%;
      padding: 20px 10%;
    }
    h2{
      font-family: 'proximanova-bold';
      color: #fb6704;
      text-transform: uppercase;
      background: url(../images/heading-bg.png) no-repeat;
      background-size: 100%;
      padding: 0px 85px;
      @media #{$mobile}{font-size: 15px;}
      @media #{$tab}{font-size: 25px;}
    }
    p {
      color:  #285689;
      line-height: 1.5;
      @media #{$mobile}{font-size: 12px;}
      @media #{$tab}{font-size: 16px;}
    }
    a {
      color:  #fb6704;
      border: 4px solid #fb6704;
      display: inline-block;
      text-align: center;
      @media #{$mobile}{
        font-size: 15px;
        margin: 10px 10px 40px 0;
        padding: 10px 20px;
      }
      @media #{$tab}{
        font-size: 25px;
        margin: 10px 10px 40px 0;
        padding: 15px 30px;
      }
    }
    .contextual-links-wrapper {
      a {
        color:  #fb6704;
        padding: 10px;
        font-size:14px;
        border: none;
        display: inline-block;
        text-align: right;
        margin: 0;
      }
    }
  }
  .content-right {
    background: url(../images/hornok.png) no-repeat;
    background-size: 100% 100%;
    padding: 80px 0;
    @media #{$mobile}{
      width: 100%;
    }
    @media #{$tab}{
      width: 50%;
    }
    @media #{$desktop}{
      width: 35%;
    }
    .inside {
      margin: 0;
    }
    iframe {
      width: 100% !important;
      padding: 5px;
      background: white;
    }
    h2 {
      padding: 10px;
      text-transform: uppercase;
      color: white;
    }
  }
}

.front #block-d8dcp-content {
  display: none;
}

#block-d8dcp-becomeasponsor {
  @media #{$desktop}{
    padding: 0 30px;
    p {
      padding: 20px 10px;
    }
  }
}

.page-pagebottom {
  background-color: #04c5f5;
  .region-inner {
    //background:  url(../images/silhouette.png) bottom no-repeat;
    //background-size: contain;
    width: 100%;
    @media #{$mobile}{
      height: 140px;
    }
    @media #{$tab}{
      height: 300px;
    }
    @media #{$desktop}{
      height: 500px;
    }
  }

  #block-views-block-sponsors-block-1 {
    @include clearfix;
    .sponsors{
      .views-row {
        text-align: center;
        padding: 2px;
        margin: 5px 1%;
        height: 200px;
        overflow: hidden;
        background-color: #fff;
        @media #{$mobile}{
          width: 100%;
        }
        @media #{$tab}{
          width: 31%;
          float: left;
        }
        @media #{$desktop}{
          width: 31%;
        }
      }
    }
  }
}
