/* ----------Header--------- */

header {
  @include container;
  @media #{$mobile}{
    background: $menu-bg-color;
  }
  @media #{$tab}{
    background: $menu-bg-color url(../images/header-tpbg.png) repeat;
  }
}

.region-header {
  margin: 0 auto;
  padding-bottom: 10px;
  @media #{$mobile}{
    width: 100%;
  }
  @media #{$tab}{
    width: 98%;
  }
  @media #{$desktop}{
    width: 92%;
  }
}

#block-d8dcp-main-menu{

  @media #{$mobile}{
    width: 100%;
  }
  @media #{$tab}{
    float: left;
    width: 65%;
  }
  @media #{$desktop}{

  }
}
#block-d8dcp-userloginmenu,
#block-d8dcp-account-menu{
  @media #{$mobile}{
    width:100%;
  }
  @media #{$tab}{
    float: right;
    width: 20%;
    text-align: right;
  }
  @media #{$desktop}{

  }
}


#block-d8dcp-main-menu {
  ul.menu-top {
    li {
      display: inline-block;
      border: none;
      float: none;
      background-color: transparent;
      position:relative;
      padding-bottom: 8px;
      @media #{$mobile}{
        width:100%;
      }
      @media #{$tab}{
        width:auto;
      }
      &:hover {
        background: none;
      }
      &>a{
        color: #f3cb02;
        line-height: 1;
        text-transform: uppercase;
        display: inline-block;
        @media #{$mobile}{
          padding:5px;
          font-size: 18px;
          width:100%;
          &.is-active,
          &:hover{
            color:  white;
          }
        }
        @media #{$tab}{
          width:auto;
          padding:5px 8px;
          font-size: 14px;
        }
        @media #{$desktop}{
          padding:20px 30px 0 30px;
          font-size: 18px;
          &.is-active,
          &:hover{
            color:  white;
            background: url(../images/pointer.png) top no-repeat;
          }
        }
      }
      ul.menu {
        display: none;
        background: $dark-blue;
        padding-bottom: 10px;
        @media #{$mobile} {

        }
        @media #{$tab}{
          width:200px;
          position: absolute;
          top: 30px;
          right: -45px;
          z-index: 100;
        }
        @media #{$desktop} {
          width:250px;
          position: absolute;
          top: 50px;
          right: -65px;
          z-index: 100;
        }
        li {
          width:100%;
          text-align: center;
        }
        a {
          color: #f3cb02;
          font-size: 18px;
          line-height: 1;
          text-transform: uppercase;
          padding:20px 30px 0 30px;
          display: inline-block;
          &.is-active,
          &:hover{
            color:  white;
            background: none;
          }
          @media #{$mobile}{
            padding:5px;
            font-size: 18px;
            width:100%;
          }
          @media #{$tab}{
            width:auto;
            padding:5px 8px;
            font-size: 14px;
          }
          @media #{$desktop}{
            padding:20px 30px 0 30px;
            font-size: 18px;
          }
        }
      }
      &.menu-item--expanded:hover {
        ul.menu {
          display: block;
        }
      }
    }
  }
}

.region-featured {
  img{
    @extend %img;
  }
}


#block-d8dcp-userloginmenu,
#block-d8dcp-account-menu {
  ul.menu-top {
    li {
      display: inline-block;
      border: none;
      float: none;
      background-color: transparent;
      position:relative;
      padding-bottom: 8px;
      @media #{$mobile}{
        width:100%;
      }
      @media #{$tab}{
        width:auto;
      }
      &:hover {
        background: none;
      }
      &>a{
        color: $white;
        line-height: 1;
        text-transform: uppercase;
        display: inline-block;
        @media #{$mobile}{
          padding:5px;
          font-size: 18px;
          width:100%;
          &.is-active,
          &:hover{
            color: white;
          }
        }
        @media #{$tab}{
          width:auto;
          padding:5px 2px;
          font-size: 11px;
        }
        @media #{$desktop}{
          padding:20px 8px 0 8px;
          font-size: 13px;
        }
      }
    }
  }
}
