// sponsor page view theming

.field-node--field-logo{
  .field-items{
    background: #fff;
    img {
      width:100%;
      height: auto;
    }
  }
}

.sponsors {
  .views-row {
    text-align: center;
    padding: 2px;
    margin: 5px 1%;
    height: 200px;
    overflow: hidden;
    background-color: #fff;
    @media #{$mobile}{
      width: 100%;
    }
    @media #{$tab}{
      width: 48%;
      float: left;
    }
    @media #{$desktop}{
      width: 48%;
    }
    .field-content,
    .views-field-field-logo {
      display:block;
      width: 100%;
      height:100%;
      overflow: hidden;
    }
    a {
      display:block;
      width: 100%;
      height:100%;
    }

  }
}
//proposed Sessions

.proposed-sessions {
  @include clearfix;
  .form-item-field-experience-level-value{
    float:left;
  }
  #edit-actions{
    float:right;
  }
  padding-bottom: 20px;
  .views-exposed-form {
    display: table;
    width: 100%;
    .form-item-field-experience-level-value {
      padding: 2px;
      margin: 5px 1%;
      @media #{$mobile}{
        width: 100%;
      }
      @media #{$tab}{
        width: 48%;
        float: left;
      }
      @media #{$desktop}{
        width: 48%;
      }
    }
    #edit-actions {
      padding: 2px;
      margin: 5px 1%;
      @media #{$mobile}{
        width: 100%;
      }
      @media #{$tab}{
        width: 48%;
      }
      @media #{$desktop}{
        width: 48%;
      }
      input[type="submit"] {
        background-color:  $green;
        display: block;
        width: 200px;
        padding: 5px;
        margin: 0 auto;
        font-family: 'proximanova-bold';
        font-size: 14px;
        color:  $light-grey-text;
        @include rounded(30px);
        @media #{$tab}{
          margin: 0;
        }
      }
    }
  }
  .views-row {
    margin-top: 50px;
    .views-field-title {
      font-size: 22px;
      font-family: 'proximanova-bold';
    }
    .views-field-field-speaker-s- {
      @include clearfix;
      font-size: 12px;
      .views-label-field-speaker-s-{
        float: left;
      }
    }
    .views-field-body {
      font-size: 14px;
      margin-top: 10px;
      p{
        line-height: 1.3;
      }
      ul{
        padding-left: 20px;
        li{
          line-height: 1.3em;
        }
      }
    }
  }
}

.field-item {
  padding: 0 3px;
}

.speakers article {
  display: inline-flex;
}

