{#
/**
 * @file
 * Template to output the menu toggle icon (burger).
 */
#}
{# {% import _self as menus %} #}
<div class="mobile-menu-responsive">
<a id="toggle-icon" class="toggle responsive-menu-toggle-icon" title="Menu" href="#off-canvas">
  <span class="icon"></span>
  {# <span class="label">{{ 'Menu'|t }}</span> #}
</a>
<a class="logopath1" href="/"><img class='logo-image' src='{{ logopath1 }}' /></a>
</div>
