<div class="login-new-form">
  <h2>Login</h2>
<form{{ attributes }}>
  {{ children }}
</form>
  <a href="/user/password">Forgot Password ?</a>
</div>
<div class="new-account">
  <p>Haven't registered yet? <a href="/user/register">Register Now</a></p>
</div>
