<div class="login-new-form">
  <h2>Register</h2>
  <form{{ attributes }}>
    {{ children }}
  </form>
</div>
<div class="new-account">
  <p>Already registered? <a href="/user/login">Login Now</a></p>
</div> 
