///*------------------------------------*\
//    * @file
//    * About Us Page.
//\*------------------------------------*/
//
//#block-dcp-aboutbanner {
//    @include banner(100%, auto);
//}
//
//.about-wrapper {
//    @include container($container-width, 20px);
//    @include breakpoint(mobileonly) {
//        padding: 0px;
//    }
//    h2 {
//        @include heading($blue, 32px);
//    }
//    p {
//        margin: 10px 0;
//        color: $grey;
//        line-height: 25px;
//        font-family: $body-font;
//    }
//    strong {
//        font-weight: 700;
//    }
//    a {
//        color: $grey;
//        text-decoration: none;
//    }
//}
//
//#block-whatshouldibringinpunedrupalcamp {
//    line-height: 20px;
//    background-color: rgb(245, 249, 254);
//    padding-bottom: 50px;
//    .about-block {
//        display: flex;
//        .block-left {
//            width: 90%;
//            @include breakpoint(phablet) {
//                width: 100%;
//            }
//        }
//        .block-right {
//            width: 90%;
//            @include breakpoint(phablet) {
//                width: 100%;
//            }
//        }
//        @include container($container-width, 20px);
//        @include breakpoint(laptop) {
//            width: 85%;
//            padding: 0px;
//        }
//        @include breakpoint(tablet) {
//            width: 80%;
//            flex-direction: column;
//        }
//        h1 {
//            @include heading($blue, 18px);
//            padding: 30px 10px;
//            text-align: left;
//            font-weight: 500;
//        }
//        p {
//            background-color: #fff;
//            color: $grey;
//            width: 90%;
//            display: block;
//            padding: 30px 50px;
//            font-family: $body-font;
//            box-shadow: 2px 3px 7px -1px grey;
//            @include breakpoint(laptop) {
//                padding: 30px 30px;
//            }
//            @include breakpoint(phablet) {
//                width: 100%;
//            }
//            a {
//                text-decoration: none;
//            }
//        }
//    }
//}
//
//#block-codeofconduct {
//    @include container($container-width, 20px);
//    @include breakpoint(mobileonly) {
//        padding: 0px;
//    }
//    text-align: center;
//    a {
//        @include abutton($medred);
//        color: #fff;
//        margin-top: 10px;
//    }
//}
//
//#block-drupalcamppune2015 {
//    font-family: $body-font;
//    @include container($container-width, 20px);
//    @include breakpoint(mobileonly) {
//        padding: 0px;
//    }
//    h2 {
//        @include heading($blue, 32px);
//    }
//    p {
//        color: $grey;
//        line-height: 20px;
//    }
//    p:first-child {
//        text-align: center;
//        padding: 0 100px;
//        @include breakpoint(phablet) {
//            padding: 0px;
//        }
//    }
//    .drupal-camp {
//        display: flex;
//        justify-content: space-around;
//        @include breakpoint(phablet) {
//            flex-direction: column;
//        }
//        .camp-block {
//            margin-top: 50px;
//            width: 300px;
//            @include breakpoint(laptop) {
//                width: 30%;
//            }
//            @include breakpoint(phablet) {
//                width: 100%;
//            }
//            img {
//                width: 100%;
//                height: 200px;
//                border-top-right-radius: 5px;
//                border-top-left-radius: 5px;
//                @include breakpoint(phablet) {
//                    height: 400px;
//                }
//                @include breakpoint(mobileonly) {
//                    height: 200px;
//                }
//            }
//            h1 {
//                font-family: $title-font;
//                padding: 20px 0px;
//                color: $blue;
//                font-size: 18px;
//                text-transform: uppercase;
//                text-align: left;
//                font-weight: 400;
//            }
//        }
//    }
//}
