.session-title {
  font-family: Georgia;
  font-size: 48px;
  line-height: 68px;
  letter-spacing: 0.315px;
  color: $label;
  margin: 100px 0 40px 0;
}

.session-submitted-by {
  margin: 0 0 50px 0;
  font-family: Circular Air;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0.315px;
}

.session-left {
  font-family: Circular Air;
  font-size: 16px;
  word-break: break-all;
  line-height: 25px;
  letter-spacing: 0.396667px;
  color: $session-title;
  font-weight: 100;
}

.session-detail-page {
  width: 80%;
  margin: auto;
  padding: 10px 0;
}
.session-detail {
  font-family: Circular Air;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0.315px;
  font-weight: bold;
  color: $session-title;
}
.session-right {
  text-align: center;
  background: url(../images/Vector.svg) no-repeat;
  background-size: 150%;
  padding: 45px 20px;
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
  width: 210px;
  word-break: break-all;
  @include breakpoint(phablet) {
    padding: 60px 20px;
  }
}

.session-parent {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-column-gap: 1rem;
}

.session-right-wrapper {
  display: flex;
  justify-content: center;
}

.speakers {
  font-family: Circular Air;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 0.396667px;
  color: $speaker;
  font-weight: 100;
  margin-bottom: 10px;
}

.title-style {
  font-family: Circular Air;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0.315px;
  font-weight: bold;
  color: $session-title;
}

.track,
.track a {
  font-family: Circular Air;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 0.396667px;
  color: $session-title;
  text-decoration: none;
  font-weight: 100;
  margin-bottom: 10px;
}

.session-detail-page {
  span.field--name-uid {
      color: $speaker;
      text-decoration: none;
  }
}

@include breakpoint(phablet) {
  .session-title {
    font-size: 32px;
    line-height: 47px;
  }

  .session-parent {
    grid-template-columns: 100%;
    grid-column-gap: 0;
  }

  .session-detail-page {
    width: 95%;
    margin: auto;
  }
}
