///*------------------------------------*\
//    * @file
//    * Sponsors Page.
//\*------------------------------------*/
//
//#block-dcp-benefitsofbeingasponsor {
//    @include container($container-width, 20px);
//    @include breakpoint(mobileonly) {
//        padding: 0px;
//    }
//    h2 {
//        @include heading($blue, 32px);
//    }
//    .sponsors-flex {
//        display: flex;
//        justify-content: space-between;
//        @include breakpoint(tablet) {
//            flex-direction: column;
//        }
//        .benefits-sponsors {
//            width: 30%;
//            padding-bottom: 50px;
//            @include breakpoint(desktop) {
//                width: 31%;
//            }
//            @include breakpoint(tablet) {
//                width: 100%;
//            }
//        }
//        h1 {
//            font-family: $title-font;
//            font-size: 20px;
//            line-height: 60px;
//            border-bottom: 2px solid black;
//            font-weight: 500;
//            @include breakpoint(laptop) {
//                font-size: 16px;
//            }
//            @include breakpoint(tablet) {
//                font-size: 24px;
//            }
//        }
//        p {
//            margin-top: 10px;
//            color: $grey;
//            @include breakpoint(tablet) {
//                font-size: 18px;
//            }
//        }
//    }
//}
