///*------------------------------------*\
//    * @file
//    * Venue Page.
//\*------------------------------------*/
//
//#block-contactus {
//    @include container($container-width, 20px);
//    @include breakpoint(mobileonly) {
//        padding: 0px;
//    }
//    h2 {
//        @include heading($blue, 32px);
//    }
//    h3 {
//        text-align: center;
//        color: $grey;
//        word-spacing: 10px;
//    }
//}
//
//#block-majorattractions {
//    @include container($container-width, 20px);
//    @include breakpoint(mobileonly) {
//        padding: 0px;
//    }
//    h2 {
//        @include heading($blue, 32px);
//    }
//    .major-attraction {
//        display: flex;
//        justify-content: space-around;
//        @include breakpoint(phablet) {
//            flex-direction: column;
//        }
//        .attraction {
//            width: 250px;
//            @include breakpoint(laptop) {
//                width: 24%;
//            }
//            @include breakpoint(phablet) {
//                width: 100%;
//            }
//            img {
//                width: 100%;
//                height: 150px;
//                @include breakpoint(phablet) {
//                    height: 400px;
//                }
//                @include breakpoint(mobileonly) {
//                    height: 200px;
//                }
//                border-top-left-radius: 5px;
//                border-top-right-radius: 5px;
//            }
//            p {
//                margin: 20px 0px;
//                color: $blue;
//                font-size: 18px;
//            }
//        }
//    }
//}
