/* -------------- titles -------------- */
h2 {
  margin-top: 25px;
  font-family: 'proximanova-bold';
  font-size: 22px;
}


/* -------------- buttons -------------- */
.draggable,
tr.drag-previous {
  background-color: #ffd;
}

/* -------------- links -------------- */
.region-content {
  a.active, a, a:visited  {
    color: red;
    font-family: 'proximanova-bold';
  }
  strong {
    font-family: 'proximanova-bold';
  }
}

.proposed-sessions {
  a.active, a, a:visited  {
    color: black;
    font-family: 'proximanova-bold';
    font-size: 30px;
  }
  .speakers {
    a.active, a, a:visited  {
      color: red;
      font-family: 'proximanova-bold';
      font-size: 13px;
    }
  }
}
/* -------------- images -------------- */

/* -------------- paragraphs -------------- */

/* -------------- tabs -------------- */

#page-tabs {
  margin: 20px 0 0 0;
  ul{
    padding: 0 0 1em 0;
    white-space: nowrap;
    list-style: none;
    margin: 5px 0;
    height: auto;
    line-height: normal;
    border-bottom: 1px solid transparent;
    li {
      display: inline;
    }
    li a {
      display: inline;
      background-color: transparent; //#0a3a84;
      border-color: #0a3a84;
      border: none;
      color: $white;
      padding: 1em 1em 1em 1em;
      border-bottom: 5px solid #bbb;
      text-transform: uppercase;
    }

    li a:hover,
    li.active a {
      background-color:#fff ;
      color: #0a3a84;
      border: none;
      border-bottom: 5px solid #0a3a84;
    }
  }
}

ul.primary {
  padding: 0 0 1em 0;
  white-space: nowrap;
  list-style: none;
  margin: 5px 0;
  height: auto;
  line-height: normal;
  border-bottom: 1px solid transparent;

  li a {
    background-color: transparent; //#0a3a84;
    border-color: #0a3a84;
    border: none;
    color: $white;
    padding: 1em 1em 1em 1em;
    border-bottom: 5px solid #bbb;
    text-transform: uppercase;
  }

  li a:hover,
  li.active a {
    background-color: #fff;
    color: #0a3a84;
    border: none;
    border-bottom: 5px solid #0a3a84;
  }
}

.tabs ~ .content-area {
  overflow: hidden;
  padding: 10px;
  border: 1px solid #bbb;
}

div[rel="schema:author"] {
  font-size: 11px;
}

.region-content {
  ul {
    margin-top: 20px;
    list-style-position: inside;
    list-style-type: disc;
  }
}

.form-radios {
  padding-left: 20px;
}

.field-block-content--body {
  a[href="/user/login"] {
    background-color:  $green;
    display: block;
    width: 300px;
    padding: 10px 5px;
    margin: 20px auto;
    font-family: 'proximanova-bold';
    font-size: 18px;
    color:  $light-grey-text;
    @include rounded(30px);
    text-align: center;
  }
}
/* -------------- pager -------------- */


input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border: 1px solid $light-grey-text;
  -moz-border: 1px solid $light-grey-text;
  border: 1px solid $light-grey-text;
}

.form-textarea {
  width:100%;
}

.form-textarea,
.form-item,
.form-type-textfield,
.form-type-email {
  font-family: 'proximanova';
  label {
    color:  $dark-grey;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding-bottom: 10px;
  }
  input {
    width: 100%;
    padding: 8px 10px;
    @include rounded(3px);
  }
  .description {
    display: none;
  }
}

input[type="submit"],
.button {
  background-color:  $green;
  display: block;
  width: 300px;
  padding: 10px 5px;
  margin: 20px auto;
  font-family: 'proximanova-bold';
  font-size: 18px;
  color:  $light-grey-text;
  @include rounded(30px);
}

#edit-actions {
  input[type="submit"] {
      display: inline;
  }
}

.form-item input.form-checkbox,
.form-item input.form-radio {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
  -webkit-border: none;
  -moz-border: none;
  border: none;
  width: auto;
}

.front h1#page-title {
  display: none;
}

.front .tabs {
  display: none;
}

h1#page-title {
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  font-family: 'proximanova-bold';
  color: $white;
  margin: 20px auto 10px;
  width: 80%;
}

.field-node--field-status,
.field-node--field-experience-level,
.field-node--field-speaker-s-{
  @include clearfix;
  .field-label{
    float:left;
    margin-right: 20px;
    font-family: 'proximanova-bold';
    border: 1px solid;
    padding: 2px;
    width:30%;
    margin:2px 4px;
  }
  .field-items{
    width: 67%;
    float: right;
    border: 1px solid;
    padding: 2px;
    margin:2px 4px;
  }
}

a.tabledrag-handle .handle {
  background: url(../../../misc/icons/787878/move.svg) no-repeat 6px 7px;
  height: 25px;
  margin: 0 3em 0 1em;
  padding: 0.42em 0.5em;
  width: 25px;
}

.filter-guidelines {
  display: none;
}

.fieldset-legend {
  font-size: 22px;
  font-family: 'proximanova-bold';
}

.dropbutton {
  list-style: none !important;
  display: inline-block;
  .dropbutton-action{
    display: inline-block;
    input[type="submit"] {
      background-color: $green;
      display: block;
      width: 175px;
      padding: 10px 5px;
      margin: 10px auto;
      font-family: 'proximanova-bold';
      font-size: 14px;
      color: $light-grey-text;
      @include rounded(30px);
    }
  }
  .dropbutton-toggle{display: none;}
}

// pager

.pager {
  .pager__item {
    display: inline;
    padding: 0.5em;
    border: 1px solid;
    margin: 2px;
    a{
      font-family: 'proximanova-bold';
      font-size: 16px;
    }
  }
}


// radio item - making flex

.form-radios {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.form-radios .form-item {
  display: inline-block;
  flex-grow: 0;
  padding-right: 20px;
}
