.page {
  &>footer,
  .maincontent-wrapper {
    width: 100%;
    overflow: hidden;
    background-color: #285689;
  }
}

.region-featured {
  p {
    line-height: 0;
  }
}

.not-front .maincontent-wrapper {
  @media #{$mobile}{
    padding: 20px 1%;
  }
  @media #{$tab}{
    padding: 40px 5%;
  }
  @media #{$desktop}{
    padding: 60px 10%;
  }
}


.center-wrapper {
  display: table;
  width: 100%;
}
.not-front.panel-col-first {
  background: $yellow;
  @media #{$mobile}{
    width: 100% !important;
    padding: 10px 5px 10px 5px;
  }
  @media #{$tab}{
    width: 50% !important;
    padding: 15px 8px 15px 8px;
  }
  @media #{$desktop}{
    width: 65% !important;
    padding: 20px 10px 20px 10px;
  }
}

#page-tabs {
  @media #{$mobile}{
    padding: 0 1% 0 1%;
  }
  @media #{$tab}{
    padding: 0 8% 0 8%;
  }
  @media #{$desktop}{
    padding: 15px 12.5% 0 12.5%;
  }
}
#user-pass,
#user-register-form,
#user-login-form {
  background: $yellow;
  @media #{$mobile}{
    padding: 20px 1%;
  }
  @media #{$tab}{
    padding: 40px 8%;
  }
  @media #{$desktop}{
    padding: 60px 20%;
  }
}



.not-homepage .center-wrapper {
  display: table;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
  @media #{$mobile}{
    padding: 0 1% 0 1%;
  }
  @media #{$tab}{
    padding: 0 8% 0 8%;
  }
  @media #{$desktop}{
    padding: 0 12.5% 0 12.5%;
  }
}

.not-homepage .content-left {
  background: $yellow;
  padding: 15px;
  float: left !important;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
  @media #{$mobile}{
    width: 100% !important;
  }
  @media #{$tab}{
    width: 50% !important;
  }
  @media #{$desktop}{
    width: 65% !important;
  }
}
.not-homepage .content-right {
  float: right !important;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
  @media #{$mobile}{
    width: 100% !important;
  }
  @media #{$tab}{
    width: 50% !important;
  }
  @media #{$desktop}{
    width: 35% !important;
  }
}

.region-featured .field-item{
  padding: 0;
}
